@media screen and (min-width: 480px) and (max-width: 768px) {
/*********       02_Dveri.php       ************************/
    ul.breadcrumb {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        padding-left: 0;
        background-color: #fdfdf3;

        width: 290px;

    }
    .doors-wrap h2{
        text-align: left;

    }
    .doors-wrap .doors-panel {
        margin-right: auto;
        margin-left: auto;
        width: 347px;
    }
    .doors-wrap.wrap-tiles .plate-inn-doors > a > .tile {
        width: 158px;
        height: 338px;
    }

    .doors-wrap.wrap-tiles  .plate-out-doors> a > .tile {
        width: 347px;
        height: 347px;
    }
    .cover-plate {
        width: 347px;
    }
    .doors-wrap.wrap-tiles  .plate-out-doors> a > .doors-out-gradient-pos {
        width: 97%;
    }

    .doors-inn-gradient-pos {
        top: 166px;
        width: 146px;
        left: 16px;
    }
    .plate-inn-doors > a > h2 {
        top: 79%;
        transform: translateX(-50%);
    }
    .plate-inn-doors {
        width: 170px;
        margin-left: 3px;
    }
    .doors-wrap.wrap-tiles .grip-wrap{
        width: 347px;
    }
    .doors-wrap.wrap-tiles .grip-wrap > img{
        width: 100%;
    }
    .grip-wrap > .grips-gradient-pos {
        top: 47%;
        left: 4%;
        width: 97%;
        height: 50%;
    }
    .wrap-doors-tiles.plate > a > h2 {
        position: absolute;
        top: 68%;
        left: 23px;
        font-size: 22px;
        color: #fdfdf3;
        width: 350px;
    }
    .doors-panel .row,
    .doors-panel .col-md-3{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    /*******************************************************/
}