.door-icon{
    height: 110px;
    border: 1px solid #ece7d4;
    padding: 4px 12px;
}
.goods-row{
    margin-top: 50px;
}
.description{
    line-height: 80px;
}
.button-area{
    line-height: 80px;
}
.basket-button:hover,.basket-button:active{
    background-color: #6a372d;
    color: #ffffff;
}
.basket-button{
    line-height: 42px;
    font-size: 26px;
    color: #d3ccad;
    background-color: #935347;
    width: 80px;
    height: 42px;

    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#count-goods{
    margin-top: 30px;
}
.delete-area > .delete{
    line-height: 80px;

}
.send-button{
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
    background-color: #935347;
    width: 250px;
    height: 40px;

    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.send-button:hover,.basket-button:active{
    background-color: #6a372d;
    color: #ffffff;

}
/****************** Mobile *************************************/
@media screen and (min-width: 480px) and (max-width: 768px) {
    .wrap-basket{
        width: 460px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    .description{
        line-height: 80px;
        width: 100%;
        margin-top: 45px;
        margin-right: 140px;
        font-family: "PT Sans",sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        color: #413332;
    }
    .wrap-basket #count-goods{
        float: right;
        font-family: "PT Sans",sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        color: #413332;

        position: absolute;
        top: 66px;
        left: 279px;
    }
    .delete-area > .delete{
        line-height: 80px;
        margin-left: 78px;
    }
    .basket-describ {
        width: 618px;
        padding-left: 0;
        padding-right: 0;
    }
    .wrap-basket .button-area{
        float: left;

        width: 100px;
        margin-top: 23px;

    }
    .basket-icon {
        margin-right: 20px;
    }
    #goods-name{
        float: left;
        margin-top: 65px;
        font-family: "PT Sans",sans-serif;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        color: #413332;
    }
    .goods-row{
        border-top: solid 1px #eeeeee;
    }
    .basket-header{
        color: #413332;
        font-family: Copperplate,sans-serif;
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        width: 460px;
    }
    .form-area{
        float: right;
        margin-right: 200px;
    }
    .basket-describ{
        width: 250px;
    }
    .description{
        line-height: normal;
    }
    .basket-icon {
        margin-right: 55px;
    }
    div.wrap-basket > .row > div:last-child{
        padding-top: 0;
    }

}