.wrap-contacts > div{
    font-family: "PT Sans", serif;
    font-size: 18px;

}
.wrap-contacts
{
    margin-top: 5%;
}
.wrap-contacts h2{
    font-family: Copperplate, serif;
    font-size: 40px;
    color: #413332;
}
@media screen and  (min-width: 1024px) {
    .contact-img {
        height: 404px;
        width: 571px;
        background: url("../../img/other/Kontakti.png") no-repeat;
        background-position-x: 0;
        margin-bottom: 1%;
        margin-top: 31px;
    }
    .forma{
        position: absolute;
        top: 52%;
        left: 63%;
    }
}

@media screen and  (max-width: 1023px) {
.wrap-contacts > .row{
    margin-left: 1%;
}
}
.orange{
    color: #b7743e;
    font-family: "PTSans", sans-serif;
    font-size: 18px;
}
.indent{
    margin-bottom: 5%;
    font-family: "PTSans", sans-serif;
    font-size: 20px;
    color: #413332;
}
.address{
    font-family: "PTSans", sans-serif;
    font-size: 20px;
    color: #413332;
}
.map{
    position: relative;
    width: 100%;
    height: 800px;

    margin-top: 5%;
}

.contact-form {
    width: 365px;
    height: 480px;
    background-color: #FFFFFF;
    padding-top: 1%;
}
.forma{
    top:10%;
}
.row-contact{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}
/********** form *************************************************/
.contact-form-header-all{
    font-family: 'PTSerif', serif;
    font-size: 30px;
    margin-top: 45px;
}
.contact-form-text{
    font-family: "PTSans", sans-serif;
    font-size: 16px;
}

.contact-form-header{
    font-family: "PTSerif", serif;
    font-size: 40px;
}
.contact-form-city,
.contact-form-str,
.contact-form-phone,
.contact-form-mail{
    font-family: "PTSans", sans-serif;
    font-size: 18px;
}
.contact-form-city{
    color: #fda552;
}
.contact-form-mail{
    color: #b16e3a;
}
.contact-form-back-call{
    height: 540px;
}
.col-lg-12{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    .row-contact {
        max-width: 460px;
    }
    .marging-clear{
        margin-left: 0;
        margin-right: 0;
    }
    .padding-clear{
        padding-left: 0;
        padding-right: 0;
    }
    .indent {
        margin-bottom: 30px;
    }
    .forma {
        top: 260px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .wrap-contacts h2{
        font-family: Copperplate, serif;
        font-size: 40px;
    }
    .contact-form p{
        font-size: 16px;
        font-family: "PT Sans", sans-serif;
    }
}