.doors-wrap.wrap-tiles{
    position: relative;
    top: 0;
    left: 1px;
}
.doors-wrap.wrap-tiles  h2{
    font-size: 2.8em;
    font-family: Copperplate, serif;
}
.doors-wrap.wrap-tiles .tile{
    margin: 5px 0 0 14px;
    display: inline-block;
    border: 6px solid #935347;

}

.doors-wrap.wrap-tiles .tile:nth-child(1){
    margin-left: 91px ;
}
.doors-wrap.wrap-tiles h4{
    margin-top: 10%;
    color: #b7743e;
    font-family: "PT Sans", serif;
    font-weight: bold;
    font-size: 20px;
}
.doors-wrap.wrap-tiles p{
    font-family: "PT Sans", serif;
    font-size: 18px;
}

.doors-wrap.wrap-tiles .col-md-10 p:last-child{

    margin-bottom: 15%;
}