
.doorImg {
    max-height: 500px;/**/
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #e8e8e8;
    padding: 25px 15% 25px 15%;
    max-width: 100%;
}
.buttons-area{
    margin-top: 35px;

}
#in-wishlist{
    color: #935347;
    line-height: 55px;
    /**/
    width: 80px;
    height: 55px;

    font-size: 18px;
    display: block;
    padding: 0;

    background-color: inherit;
    border-color: #eeeeee;

    margin-left: 31px;
}

#in-basket{
    display: block;
    padding: 0;
    line-height: 55px;

    width: 320px;
    height: 55px;

    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #935347;
}
#in-basket:hover,.basket-button:active{
    text-decoration: none;
    background-color: #6a372d;
    color: #ffffff;
}
#in-wishlist:hover,.basket-button:active{
    color: #6a372d;
    background-color: #ffffff;
}
.product-title{
    font-size: 40px;
    font-family: Copperplate,serif;
}
.product-discript{
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
}
.product-price-h{
    margin-top: 30px;
}
.product-discript-door{
    font-family: "PT Sans",sans-serif;
    font-weight: normal;
    font-size: 18px;
}
.product-note{
    color: #935347;
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
}
.product-price{
    color: #4e3d36;
    font-family: "PT Serif",serif;
    font-weight: bold;
    font-size: 40px;
}
.img-border{
    width: 100%;
    border: 6px solid #935347;
    margin-top: 100px;
}
.hr-separation{
    color: #eeeeee;
    margin-top: 0;
}
.plate {
    position: relative;
    margin-bottom: 10px;
    outline: none;
}