
.doorImg {
    max-height: 500px;/**/
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #e8e8e8;
    padding: 25px 15% 25px 15%;
    max-width: 100%;
}
.buttons-area{
    margin-top: 35px;

}
#in-wishlist{
    color: #935347;
    line-height: 55px;
    /**/
    width: 80px;
    height: 55px;

    font-size: 18px;
    display: block;
    padding: 0;

    background-color: inherit;
    border-color: #eeeeee;

    margin-left: 31px;
}

#in-basket{
    font-family: "PT Sans",sans-serif;
    font-weight: normal;
    font-style: normal;
    display: block;
    border-radius: 0;
    border: none;
    padding: 0;
    line-height: 55px;
    letter-spacing: 0.150em;  ;

    width: 320px;
    height: 55px;

    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #935347;
}
.add-basket-link:hover,
.add-basket-link:focus,
.add-basket-link:active,
.add-basket-link{
 text-decoration: none;
}
#in-basket:hover,.basket-button:active{
    text-decoration: none;
    background-color: #6a372d;
    color: #ffffff;
}
#in-wishlist:hover,.basket-button:active{
    color: #6a372d;
    background-color: #ffffff;
}
.product-title{
    font-size: 40px;
    font-family: Copperplate,serif;
}
.product-discript{
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
}
.product-price-h{
    margin-top: 30px;
}
.product-discript-door{
    font-family: "PT Sans",sans-serif;
    font-weight: normal;
    font-size: 18px;
}
.product-note{
    color: #935347;
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
}
.product-price{
    color: #4e3d36;
    font-family: "PT Serif",serif;
    font-weight: bold;
    font-size: 40px;
}
.img-border{
    width: 100%;
    border: 6px solid #935347;
    margin-top: 100px;
}
.hr-separation{
    color: #eeeeee;
    margin-top: 0;
}
.plate {
    position: relative;
    margin-bottom: 10px;
    outline: none;
}
 ul.breadcrumb {
    margin-left: 44%;
}
 /****************** Mobile *************************************/
@media screen and (min-width: 480px) and (max-width: 768px) {
    ul.breadcrumb {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        padding-left: 0;
        background-color: #fdfdf3;
        width: 330px;
    }
    .door-title {
        position: absolute;
        top: -660px;
        left: 50%;
        transform: translateX(-50%);
    }
    .door-card-info {margin-top: 130px;}
    .product-discript-door {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    #in-basket {
        width: 290px;
    }
    #in-wishlist {

        margin-left: 120px;
    }
    .plate {
        width: 347px;
        height: 347px;
    }
    .doors-gradient-pos {
        top: 77%;
        left: 6px;
        width: 335px;
    }
    .img-border {
        width: 347px;
        height: 347px;
    }
.bottom-cover{
    margin-bottom: 165px;
}
}