.doors-wrap.wrap-tiles {
    position: relative;
    top: 0;
    left: 1px;
}

.row {
    max-width: 100%;
}

.doors-panel {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.doors-wrap h2 {
    font-size: 2.8em;
    font-family: Copperplate, serif;
}

.doors-wrap.wrap-tiles .tile {
    margin: 5px 0 0 14px;
    display: inline-block;
    border: 6px solid #935347;

}

.doors-wrap.wrap-tiles .tile:nth-child(1) {
    margin-left: 10px;
}

.doors-wrap.wrap-tiles h4 {
    margin-top: 10%;
    color: #b7743e;
    font-family: "PT Sans", serif;
    font-weight: bold;
    font-size: 20px;
}

.doors-wrap.wrap-tiles p {
    font-family: "PT Sans", serif;
    font-size: 18px;
}

.doors-wrap.wrap-tiles .col-md-10 p:last-child {

    margin-bottom: 15%;
}

/*  градиент на обложках*/
.plate {
    position: relative;
}

.plate-out-doors {

}

.doors-gradient {
    /* Gradient */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,413332+92,413332+100&0+0,1+92,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(65, 51, 50, 1) 92%, rgba(65, 51, 50, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(65, 51, 50, 1) 92%, rgba(65, 51, 50, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(65, 51, 50, 1) 92%, rgba(65, 51, 50, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#413332', GradientType=0); /* IE6-9 */

}

.grips-gradient-pos {
    position: absolute;
    top: 48%;
    left: 3%;
    width: 470px;
    height: 50%;
}

.doors-out-gradient-pos {
    position: absolute;
    top: 49%;
    left: 15px;
    width: 99%;
    height: 50%;
}

.doors-inn-gradient-pos {
    position: absolute;
    top: 242px;
    left: 31px;
    width: calc(100% - 12px);
    height: 50%;
}

.plate > a > h2 {
    position: absolute;
    top: 68%;
    left: 18%;
    font-size: 22px;
    color: #fdfdf3;
}
.plate-inn-doors{
    display: inline-block;
    width: 246px;
    margin-left: 15px;
}
.plate-out-doors > a > h2 {
    position: absolute;
    top: 85%;
    left: 23%;
    font-size: 22px;
    color: #fdfdf3;
}

.plate-inn-doors > a > h2 {
    position: absolute;
    top: 86%;
    left: 50%;
    font-size: 22px;
    width: 100%;
    text-align: center;
    color: #fdfdf3;
    transform: translateX(-40%);
}
.inn-panel {
    display: flex;
    justify-content: center;
}
.plate-wrap {
    width: 475px;
    display: block;
    position: relative;
}
.grip-wrap {
    display: block;
    width: 470px;
    position: relative;
}
.cover-plate{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}
.desk-center-block{
    max-width: 1100px ;
    margin-left: auto;
    margin-right: auto;
}