body {
    background-color: #fdfdf3;
}

.door-catalog {

    /*background-color: #66afe9;*/
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

}

.flex-container {
    background-color: #ece7d4;
    max-width: 1030px;
    min-width: 450px;
    min-height: 105px;
    /* Сначала создадим flex-контекст*/
    display: flex;
    /* направление потока
        элементы переносились на новую строку*/
    flex-flow: row wrap;

    /* Теперь определим, как будет распределяться пространство*/
    justify-content: space-around;
    align-items: center;
}

.flex-container > div {
    display: inline-block;
}

.btn {
    font-size: 16px;
    font-family: PTSerif, serif;
    font-style: italic;

}

.btn-group > .btn:first-child {
    width: 180px;
    text-align: left;
    border-radius: 0;
    border: #574544 1px solid;
    color: #3c2f26;
    font-family: "PT Serif", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    padding-left: 0;
}

.btn-group > .btn:first-child > .ui-button-text {
    padding-left: 8px;
}

.dropdown-menu {
    width: 180px;
}

.flex-container button {
    margin: auto;
    border-radius: 0;
    border: 1px solid #574544;
}

.flex-container button:last-child {
    font-family: "PT Sans", serif;
    font-size: 16px;
    letter-spacing: 0.075em;
    font-weight: normal;
    font-style: normal;
    background-color: #935347;
    color: white;
    border-radius: 0;
    border: none;
    margin-right: 10px;
    height: 42px;
}

h5 {
    font-family: "PT Sans", serif;
    font-size: 12px;
}

span.btn > a {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #935347;
}

.flex-container > div:first-child {
    margin-left: 5px;
}

.sampling-area {
    width: 100%;
    height: 100%;
    /*background-color: #4cae4c;*/
}

@media screen and (max-width: 1023px) {
    // .flex-container {
    //     width: 450px;
    // }

    .btn-group > .btn:first-child {
        width: 400px;
        height: 40px;
    }

    .dropdown-toggle {
        height: 40px;
        width: 40px;
    }

    .flex-container button:last-child {
        margin-top: 20px;
        margin-bottom: 14px;
        width: 400px;
    }

    // .sampling-area {
    //     width: 490px;
    // }
}

@media screen and (min-width: 1024px) {
    .btn-group > .btn:first-child {
        width: 180px;

    }

    .flex-container button:last-child {
        width: 180px;
        margin-top: 16%;
    }
}


/************* карточки товара *******************************/
/*
.tile {
    display: inline-block;
    border: 1px solid #e8e8e8;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-top: 5px;
    width: 230px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 0;
    list-style-type: none;
}

.tile:nth-child(1) {
    /* margin-left: 91px ;*//*
}

.tile:nth-child(2) {
    margin-left: 9px;
}

.info {
    display: inline-block;
    width: 230px;
    background-color: #ece7d4;
    font-family: "PT Sans";
    font-size: 14px;
}

.info:nth-child(1) {
    margin-left: 21px;
}

.info > p {
    margin: 0 0 0 9px;
    padding: 0 0 0 0;
}

.info > p:nth-child(1) {
    margin-top: 9px;

}

.info > .delimiter {
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 9px;
}

.info > .block-4-price {
    width: 100%;
    font-size: 18px;
}

.info > .block-4-price > div:first-child {
    float: left;
    margin-left: 5%;
}

.info > .block-4-price > div:last-child {
    float: right;
    margin-right: 5%;
}

.info {
    margin-top: 5%;
    background-color: #ece7d4;
    color: #77767b;
}

.info > .delimiter {
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 9px;
}

.info p {
    text-align: left;
    margin-left: 5%;
}

.info p:first-child {
    padding-top: 5%;
}

/************* ---карточки товара--- *******************************/

.glyphicon-plus-sign {
    font-size: 40px;
}

.glyphicon-plus-sign:hover {
    color: #935347;
}

.col-md-12 > a {
    text-decoration: none;
}

.center-flex {
    display: flex;
    /* направление потока
        элементы переносились на новую строку*/
    // flex-flow: column wrap;
    /* Теперь определим, как будет распределяться пространство*/
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    border: 2px solid #935347;
    padding: 20px 0;
}

.glyphicon-plus-sign + div {
    font-size: 16px;
}

.plate {
    position: relative;
    margin-bottom: 10px;
    outline: 6px solid #935347;
}

.row-covers{
    margin-bottom: 105px;
}

.doors-gradient-pos {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}

.doors-gradient {
    /* Gradient */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,413332+92,413332+100&0+0,1+92,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(65, 51, 50, 1) 92%, rgba(65, 51, 50, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(65, 51, 50, 1) 92%, rgba(65, 51, 50, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(65, 51, 50, 1) 92%, rgba(65, 51, 50, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#413332', GradientType=0); /* IE6-9 */

}

.plate h2 {
    position: absolute;
    top: 85%;
    left: 0;
    color: white;
    font-size: 22px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.tile {
    margin-top: 20px;
}

.ui-button {
    height: 35px;
    padding: 0px 0px 0px 10px;
}

.ui-state-default {
    font-weight: normal;
    font-style: italic;
    color: #3c2f26;
}

ul.breadcrumb {
    margin-left: 0;

}

@media screen and (min-width: 992px) {

    .btn-default.btn.dropdown-toggle,
    .btn-default.btn.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
        height: 40px;
        background-color: #ffffff;
    }
    .ui-button-text{
        background-color: #ffffff;
    }

    .btn-default.btn.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
        width: 167px;
    }

    .btn-default.btn.dropdown-toggle {
        width: 40px;
    }
    .flex-container button:last-child {
        width: 128px;
        margin-top: 24%;
    }
    .flex-container > div {
        margin-top: -33px;
    }
    .flex-container {
        background-color: #ece7d4;

        min-width: 450px;
        min-height: 105px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .row.row-covers > div >.plate > a > img {
        height: 465px;
    }
    .section-title {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    ul.breadcrumb {
        margin-left: 10px;
    }

    .catalog-header {
        font-family: Copperplate, serif;
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        color: #413332;
        width: 460px;
        margin-left: auto;
        margin-right: auto;
    }

    .select-panel {
        margin-left: auto;
        margin-right: auto;
        width: 460px;
    }

    .flex-container {
        width: 460px;
        margin-left: auto;
        margin-right: auto;
    }

    .sorting {
        margin-left: auto;
        margin-right: auto;
        width: 460px;
    }

    .flex-container button:last-child {
        width: 440px;
        margin-left: 9px;
    }

    .clear-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .sampling-area {
        width: 480px;
    }

    .sampling-area > .tile:first-child {
        margin-left: 0;
    }



    .mobil-width-full {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .mobil-width-full .doors-gradient-pos {
        position: absolute;
        top: 51%;
        left: 0;
        width: 100%;
        height: 50%;
    }

    .mobil-width-full .plate {
        margin-left: auto;
        margin-right: auto;
    }

    .mobil-width-full .col-md-6:last-child > .plate {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .mobil-width-full .col-md-6:first-child > .plate img {
        height: 347px;
    }
    .section-title {
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
    }
    .row-covers{
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
    }
    .row-covers > .col-md-6{
        padding-right: 0;
        padding-left: 0;
    }

    .row-covers .col-md-6.col-xs-12{
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .row-covers .plate {
        margin-left: auto;
        margin-right: auto;
    }
    .plate img{
        height: 335px;
        width: 330px;
    }
    .row.give-more{
        width: 480px;
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .row.give-more > .col-md-12{
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .wrap-all > .row.max-width{
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .wrap-all > .row.max-width > .col-md-offset-1.col-md-10{
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .panel-quick-selection > .row > .col-md-12 {
        padding-right: 0;
        padding-left: 0;
    }
    .panel-quick-selection > .row{
        width: 460px;
        margin-left: auto;
        margin-right: auto;
    }
    // .panel-quick-selection .row.selected-doores{
    //     margin-left: 0;
    // }

}
/*дополнительные стили*/
.plus{
    font-size: 40px;
    font-weight: lighter;
    border: 1px solid #95564b;
    border-radius: 80px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #95564b;
    margin-right: 15px;
}
@media (max-width: 479px) and (min-width: 320px){
    .flex-container{
        min-width: 300px;
    }
    .btn-group > .btn:first-child{
        width: 250px;
    }
    .btn-group{
        display: block;
    }
    .flex-container button:last-child{
        width: 290px;
        margin-left: 13px;
    }
    .selected-doores .tile{
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .door-catalog .row-covers{
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .door-catalog .row-covers .col-md-6{
        margin-bottom: 45px;
    }
    #footer{
        font-size: 13px;
    }
}