
.doorImg {
    max-height: 500px; /**/
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #e8e8e8;
    padding: 25px 15% 25px 15%;
    max-width: 100%;
}

.buttons-area {
    margin-top: 20px;

}

#in-wishlist {
    color: #935347;
    line-height: 55px;
    /**/
    width: 80px;
    height: 55px;

    font-size: 18px;
    display: block;
    padding: 0;

    background-color: inherit;
    border-color: #eeeeee;

    margin-left: 31px;
}

#in-basket {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    display: block;
    border-radius: 0;
    border: none;
    padding: 0;
    line-height: 55px;
    letter-spacing: 0.150em;;

    width: 320px;
    height: 55px;

    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #935347;
}

.add-basket-link:hover,
.add-basket-link:focus,
.add-basket-link:active,
.add-basket-link {
    text-decoration: none;
}

#in-basket:hover, .basket-button:active {
    text-decoration: none;
    background-color: #6a372d;
    color: #ffffff;
}

#in-wishlist:hover, .basket-button:active {
    color: #6a372d;
    background-color: #ffffff;
}

.product-title {
    font-size: 40px;
    font-family: Copperplate, serif;
    margin-top: -10px;
}

.product-discript {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    // padding-bottom: 15px;
}

.product-price-h {
    margin-top: 20px;
}

.product-discript-door {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.product-note {
    color: #935347;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
}

.product-price {
    color: #4e3d36;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
}

.img-border {
    width: 100%;
    border: 6px solid #935347;
    margin-top: 100px;
}

.hr-separation {
    color: #eeeeee;
    margin-top: 0;
}

.plate {
    position: relative;
    margin-bottom: 10px;
    outline: none;
}

ul.breadcrumb {
    margin-left: 44%;
}

/****************** Mobile *************************************/
@media screen and (min-width: 480px) and (max-width: 768px) {
    ul.breadcrumb {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        padding-left: 0;
        background-color: #fdfdf3;
        width: 330px;
    }

    .door-title {
        position: absolute;
        top: -660px;
        left: 50%;
        transform: translateX(-50%);
    }

    .door-card-info {
        margin-top: 130px;
    }

    .product-discript-door {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    #in-basket {
        width: 290px;
    }

    #in-wishlist {

        margin-left: 10px;
    }

    .plate {
        width: 347px;
        height: 347px;
    }

    .doors-gradient-pos {
        top: 74%;
        left: 6px;
        width: 318px;
    }
    .plate h2 {
        position: absolute;
        top: 105%;
        left: 0;
        color: white;
        font-size: 22px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .img-border {
        width: 347px;
        height: 347px;
    }

    .bottom-cover {
        margin-bottom: 165px;
    }
    .row.buttons-area  .col-md-6.col-xs-6:first-child{
        width: 290px;
        padding-right: 0;
        padding-left: 0;
        margin-left: -10px;

    }
    .row.buttons-area > .col-md-6.col-xs-6:nth-child(2){
        width: 80px;
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (min-width: 992px) {
    .door-cart {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 70px;
    }

    .door-card-info {
        margin-left: 0;
        margin-right: 0;
    }

    .door-card-info > div:first-child {
        padding-left: 0;
        padding-right: 0;
        width: 351px;
        margin-right: 10px;
    }

    .doorImg {
        margin-left: 0;
        width: 349px;
    }

    div.row.max-width {
        position: relative;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }

    div.row.max-width > div:first-child {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
    }

    ul.breadcrumb {
        margin-left: 0;
        position: absolute;
        // top: 32px;
        top: 12px;
        left: 359px;
        background-color: transparent;
    }

    div.door-title {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }

    .product-discript-door {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        width: 62%;
        margin-top: 8px;
    }

    .product-discript-door > .row {
        margin-right: 0;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }

    .product-discript {
        margin-left: -13px;
    }

    .doors-gradient-pos {
        position: absolute;
        top: 50%;
        left: 0;
        width: 462px;
        height: 50%;
    }

    .img-border {
        width: 462px;
        height: 466px;
        outline: 6px solid #935347;
        border: none;
        margin-top: 100px;
    }

    .top-cover {
        margin-left: 21px;
        padding-right: 0;
        padding-left: 0;
        width: 467px;
    }

    .bottom-cover {
        float: right;
        margin-left: 0;
        margin-right: 16px;
        padding-right: 0;
        padding-left: 0;
        width: 467px;
    }

    .plate {
        width: 467px;
    }

    .cover-all {
        margin-bottom: 100px;
    }
    .row.buttons-area  .col-md-6.col-xs-6:first-child{
        width: 321px;
        padding-right: 0;
        padding-left: 0;
        // margin-left: -10px;

    }
    .row.buttons-area > .col-md-6.col-xs-6:nth-child(2){
        width: 80px;
        padding-right: 0;
        padding-left: 0;
    }
}
/*дополнительные стили*/
@media screen and (min-width: 992px){
    ul.breadcrumb{
        position: relative;
        top: 0;
        left: 0;
    }
}
