.confirm-orders-title {
    margin: 0;
    padding: 14px 0 22px 20px;
    font: normal 40px "Copperplate" ;
    line-height: 1;
    background: #fff;
}
.order-registration{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    font-family: "PT Sans",sans-serif;
    font-size: 18px;
    color: #413332;
}
.link-on-manuf{
    color: #935347;
    text-decoration: none;
    margin-bottom: 150px;
    display: block;
}

.link-on-manuf:active,
.link-on-manuf:hover{
    color: #413332;
}
.manuf-logo{
    max-height: 250px;
    outline: 1px solid #ece7d4;
    margin-bottom: 40px;
}
.first-p{
    font-size: 22px;
}
.generic > ul{
    margin-left: 20px;
}
.generic > ul > li{
    text-indent: 25px;
}
/****************** Mobile *************************************/
@media screen and (min-width: 480px) and (max-width: 768px) {
    .order-registration{
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
    }
    .confirm-orders-title{
        padding-right: 0;
        padding-left: 0;
    }
    .link-on-manuf {
        margin-bottom: 80px;
    }
}