.wrap-manuf {
    margin-left: auto;
    margin-right: auto;
    max-width: 1030px;
    color: #413332;
}

.wrap-manuf .list-company {
    padding: 0;
    list-style: none;
    width: 645px;
    position: relative;
}

.wrap-manuf .list-company li {
    float: left;
    width: 198px;
    margin: 0px 17px 20px 0;
    padding-right: 0;
    padding-left: 15px;
    padding-top: 15px;
    display: block;
    outline: 1px solid #ece7d4;
}

.wrap-manuf .list-company li a {
    display: block;
}

.wrap-manuf .list {
    padding: 0;
    list-style: none;
    margin: 0 0 250px;
    font-size: 22px;
    font-family: "PT Sans", sans-serif;
}

.wrap-manuf .list li {
    margin: 0 0 4px;
}

.wrap-manuf ul li {
    vertical-align: top;
}

.wrap-manuf a {
    color: #353432;
    text-decoration: none;
}

.manuf-header {
    font-family: "Copperplate", serif;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 75px;
}

/****************** Mobile *************************************/
@media screen and (min-width: 480px) and (max-width: 768px) {

    .manuf-header {
        margin-bottom: 35px;
        margin-top: 50px;
    }
    .wrap-manuf {
        margin-bottom: 85px;
    }

    .wrap-manuf .list {
        list-style-position: inside;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        height: 500px;
        margin-bottom: 10px;
    }

    .wrap-manuf .mobil-width {
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
    }

    .wrap-manuf .list-company {
        width: 430px;
        position: relative;
    }
}