.wrap-tiles {
    position: relative;
    top: 0;
    left: 1px;

}

.wrap-tiles h2 {
    font-size: 2.8em;
    font-family: Copperplate, serif;
}

.wrap-tiles .tile {
    margin: 5px 0 0 14px;
    display: inline-block;
    /*border: 6px solid #935347;*/
}

h4 {
    margin-top: 10%;
    color: #b7743e;
    font-family: "PT Sans", serif;
    font-weight: bold;
    font-size: 20px;
}

p {
    font-family: "PT Sans", serif;
    font-size: 18px;
}

.septa p:last-child {

    margin-bottom: 15%;
}

.col-md-6 img {
    margin-left: 31px;
    margin-right: auto;

}

.plate-wrap {
    margin-left: 8%;
}

.plate {
    display: inline-block;
    margin-left: 10px;
}

.septa-container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

/****************** Mobile *************************************/
@media screen and (min-width: 480px) and (max-width: 768px) {
    .clear-indent{
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .mobil-width {
        max-width: 347px;
    }
    .plate{
        margin-left: 0;
    }
    .plate-m-1 {
    }
    .wrap-tiles img.tile{
        margin-left: 0;
    }
    .plate-m-2 > a > img.tile,
    .plate-m-1 > a > img.tile {
        height: 350px;
        width: 171px;
    }
    .plate-m-2{
        position: absolute;
        top: 0;
        left: 176px;
    }
    .plate-m-3 > a > img.tile {
        width: 347px;
    }
    .bottom-text{
        max-width: 460px;
    }
}
