.wrap-catalog {
    position: relative;
    height: 950px;
    background-color: #fdfdf3;
}

.wrap-catalog .row {
    max-width: 100%;
}

.panel-Catalog {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 960px;
    min-height: 480px;
}

.indent-col {
    margin-left: 2px;
    margin-right: -2px;
}

.panel-Catalog > div > div > h2 {

    font-family: Copperplate, serif;
    text-align: center;
}

.tiles {
    margin-left: auto;
    margin-right: auto;
}

.tiles > div {

}

.doors-gradient {
    /* Gradient */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,413332+80,413332+100&0+0,1+80,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(65, 51, 50, 1) 80%, rgba(65, 51, 50, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(65, 51, 50, 1) 80%, rgba(65, 51, 50, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(65, 51, 50, 1) 80%, rgba(65, 51, 50, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#413332', GradientType=0); /* IE6-9 */

}

.entryDoors {

    background: no-repeat url(../../img/catalog/entryDoors.jpg);
    width: 235px;
    height: 476px;

    margin-top: 20px;
    padding-top: 285px;
    padding-left: 0;
}

.doors-gradient h3 {
    text-align: center;
    padding-top: 50%;
}

.entryDoors > .doors-gradient {
    width: 225px;
    height: 159px;
}

/*
.entryDoors > .doors-gradient > h3{
    position: absolute;
    top: 102px;
    left: 23px;
}
*/
.grips {

    background: no-repeat url(../../img/catalog/grips.jpg);
    width: 230px;
    height: 234px;

    padding-left: 0;
    padding-top: 30px;
    margin-top: 20px;
}

.grips > .doors-gradient {
    width: 220px;
    height: 173px;
}

.grips > .doors-gradient > h3 {
    padding-top: 60%;
}

.septa {
    background: no-repeat url(../../img/catalog/septa.jpg);
    width: 225px;
    height: 234px;

    padding-left: 0;
    padding-top: 33px;
    margin-top: 10px;

}

.septa > .doors-gradient {
    width: 215px;
    height: 169px;
}

.septa > .doors-gradient > h3 {
    text-align: center;
}

.interiorDoors {
    background: no-repeat url(../../img/catalog/interiorDoors.jpg);
    width: 475px;
    height: 478px;

    padding-left: 0;
    padding-top: 273px;
    margin-top: 20px;
}

.interiorDoors > .doors-gradient {

    width: 463px;
    height: 173px;
}

.interiorDoors > .doors-gradient > h3 {
    font-size: 22px;
    padding-top: 25%;
}

.tiles h3 {
    font-size: 22px;
}

/* Задание рамок для плиток */
.grips,
.septa,
.entryDoors,
.interiorDoors {
    border: 6px solid #935347;
    color: #ffffff;
    font-family: "PT Sans Caption", sans-serif;
}

.panel-Catalog h2 {

    font-size: 40px;
}

.entryDoors:hover,
.grips:hover,
.septa:hover,
.interiorDoors:hover {
    animation: backgroundscale_15 1s linear normal forwards;
    border: none;
    outline: none;
}

/* Бегущая лента */

.running-ribbon {
    width: 100%;
    height: 145px;
}

.running-ribbon div.view {
    height: 150px;
    width: 940px;
    margin-left: -15px;
    overflow: scroll;
    margin-top: 25px;
}

.running-ribbon div.view ul {
    height: 100%;
    width: 10000px;
    list-style: none;
    line-height: 145px;
    background-color: white;
}

.running-ribbon div.view ul > li {
    vertical-align: middle;
    margin-right: 35px;
    border: 1px solid #f7ebdb;
    width: 150px;
    text-align: center;
    float: left
}

.running-ribbon div.view ul li {
    width: 200px;
    text-align: center;
}

.show {
    margin-top: 1em;
}

.wrap-catalog div.show button {
    padding: 0;
    margin-right: 0;
    cursor: pointer;
    margin-top: 50%;
}

button#prev {
    width: 50px;
    height: 50px;
    background-image: url('../../img/UI/arrow_inactive.jpg');
    transform: scale(1, 1);
    margin-left: -5px;
}

button#next {
    width: 50px;
    height: 50px;
    background-image: url('../../img/UI/arrow_inactive.jpg');
    transform: scale(-1, 1);
    margin-left: 38px;
}

button#prev:hover {
    background-image: url('../../img/UI/arrow_active.jpg');
    transform: scale(-1, 1);

}

button#next:hover {
    background-image: url('../../img/UI/arrow_active.jpg');
    transform: scale(1, 1);
}

@media all and (max-width: 992px) {
    .running-ribbon div.view {
        width: 530px;
    }

}

@media all and  (max-width: 768px) {
    .running-ribbon div.view {
        width: 380px;
    }
}

.center-logo {
    margin-left: auto;
    margin-right: auto;
}

.ribbon-panel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.no-link-decoration:hover {
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    .panel-Catalog > div > div > h2 {
        margin-top: 77px;
        margin-bottom: 40px;
    }

    .interiorDoors, .grips, .entryDoors {
        margin-top: 0px;
    }

    .grips, .septa, .entryDoors, .interiorDoors{
        border: 0;
        outline: 6px solid #935347;
        background-size: cover;
    }
    .grips{
        margin-bottom: 10px;
    }
    .septa,.grips{
        width: 218px;
        height: 222px;
    }
    .interiorDoors{
        width: 463px;
        height: 466px;
    }
    .entryDoors{
        width: 223px;
        height: 466px;
        padding-top: 287px;
    }
    /**********************/
    .septa{
        padding-top: 36px;
    }
    .septa > .doors-gradient {
        width: 100%;

    }
    .running-ribbon div.view {
        margin-top: 43px;
    }
    .running-ribbon div.view ul {
        height: 140px;
        padding-top: 20px;
    }
    .running-ribbon div.view ul > li {
        margin-left: 17px;
        margin-right: 17px;
    }
    .wrap-catalog div.show button {
        margin-top: 71px;
    }
    button#next {
        margin-left: 38px;
    }
    button#prev {
        margin-left: -4px;
    }
}