.wrap-septa{
    position: relative;
    height: 870px;
    background-color: #FFFFFF;
}
.wrap-septa .row {
    max-width: 100%;
}

.wrap-septa .arrow {
    background-image: url(../../img/other/angle-light.png);
    width: 61px;
    height: 10px;
    position: absolute;
    top: 100%;
    /* верт. центр */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.wrap-septa .septa-panel {
    top: 138px;
    left: 399px;
    width: 100%;
}

.wrap-septa .septa-panel > .wrap-tiles {
    left: 12px;
    top: 10px;
}

.wrap-septa .septa-h2 {
    text-align: center;
    font-size: 2.8em;
    font-family: Copperplate, serif;
    margin-top: 100px;
    margin-bottom: 40px;
}

.wrap-septa .running-ribbon-septa div.view {
    height: 600px;
    width: 94%;

}

.running-ribbon-septa ul {
    height: 100%;
    width: 10000px;
    list-style: none;
    /* line-height: 145px; */
    padding-left: 0
}
/*******************************************************************/
.wrap-septa .septa-show-more {
    height: 42px;
    width: 268px;
    color: #e7dcdb;
    background-color: #935347;
    border: 0;
    border-radius: 0;
    font-family: "PT Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wrap-septa .septa-show-more:hover {
    color: #ffffff;
    background-color: #6a372d;
}

.flex-wrap {
    display: flex;
}
.flex-vert-centr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.relative-wrap{
    position: relative;
}

.wrap-septa #prev {
    margin-left: 50%;
    margin-top: 160px;

    position: absolute;
    top: 50%;

}
.wrap-septa #next{
    margin-left: -90%;
    margin-top: 160px;
}


.prev{
    width: 50px;
    height: 50px;
    background-image: url('../../img/UI/arrow_inactive.jpg');
    transform: scale(1, 1);
}
.next{
    width: 50px;
    height: 50px;
    background-image: url('../../img/UI/arrow_inactive.jpg');
    transform: scale(-1, 1);

}
.prev:hover{
    background-image: url('../../img/UI/arrow_active.jpg');
    transform: scale(-1, 1);

}
.next:hover{
    background-image: url('../../img/UI/arrow_active.jpg');
    transform: scale(1, 1);
}
