.wrap-facts-at-Glance{
    position: relative;
    height: 510px;
    /*background-color: #9900fd;*/
    z-index: 0;

}
.wrap-facts-at-Glance .row {
    max-width: 100%;
}
.facts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
}
.facts h1{
    font-size: 4em;
    color: #9A2434;
}
.facts p{
    font-size: 2em;
    color: black;
}