.wrap-about{
    position: relative;
    height: 669px;
    /*
    background-position-y: -454px;
    background-position-x: -1px;
    */
    background-size: 100%;
    background: #93fd73 url("../../img/background/FOTO_INTRO_22.jpg");
    background-position-y: 75%;
}
.wrap-about .row {
    max-width: 100%;
}
.block-header{
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Copperplate, serif;
    font-size: 34px;
}
.about-left{
    font-family: "PT Sans",sans-serif;
    font-weight: bold;
    font-size: 28px;
}
.about-right{
    font-family: "PT Serif",sans-serif;
    font-size: 20px;
}

.get-consultation {
    line-height: 42px;
    height: 42px;
    width: 462px;
    color: #e7dcdb;
    background-color: #935347;
    border: 0;
    border-radius: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    padding: 0 41px 5px 41px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.get-consultation:hover,
.get-consultation:focus,
.get-consultation:active{
    color: #ffffff;
    background-color: #6a372d;
}