
.wrap-action {
    position: relative;
    height: 647px;
    /*background-color: #fde500;*/
    z-index: 0;
}

.wrap-action .row {
    max-width: 100%;
}

.action-panel {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.action-header {
    /*position: absolute;*/
    top: 100px;
    left: 30%;
    color: #F1F0F0;
    font-size: 50px;
    font-family: 'Copperplate', serif;
    margin-top: 100px;

}

.action-text {
    /*position: absolute;*/
    top: 240px;
    left: 70px;
    color: #F1F0F0;
    font-size: 28px;
    font-family: 'PTSerif', serif;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .wrap-action {
        height: 866px;
    }

    .action-panel {
        width: 435px;
    }

    .action-text,
    .action-header {
        text-align: center;
    }

    .action-header {
        margin-top: 0;
    }

    .action-text {
        font-size: 22px;
    }

    .contact-form {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
    }
}