.wrap-contacts {
    background-color: #affd00;
    position: relative;
    height: 653px;
}
.wrap-contacts > a{
    /* Статичная карта
    position: absolute;
    top: 50% ;
    margin-top: -225px;
    left: 50% ;
    margin-left: -300px;
    */
}
.wrap-contacts .contact-form{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    height: 490px;
}
.contact-form.contact-form-back-call .row{
    margin-left: 0;
    margin-right: 0;
}


/***************************************/
.wrap-catalog,
.wrap-novelty,
.wrap-doors,
.wrap-septa,
.wrap-manufacturers,
.wrap-contacts {
    background-color: #fdfdf3;
    padding-bottom: 140px;
}
.wrap-quick-selection,
.wrap-action,
.wrap-key-benefits,
.wrap-facts-at-Glance,
.wrap-action-another,
.wrap-about{
    background-color: #dad2bb;
}
.wrap-about{
    padding-bottom: 140px;
}
.wrap-contacts{
    padding-bottom: 0;
}
.wrap-manufacturers{
    background-color: #fff;
}