.wrap-novelty{
    position: relative;
    height: 927px;
    background-color: #fdfdf3;
}
.wrap-novelty .row{
    max-width: 100%;
}
.wrap-novelty .arrow {
    background-image: url(../../img/other/angle-light.png);
    position: absolute;
    top: 100%;
}
.wrap-novelty .doors-panel{
    top: 138px;
    left: 399px;
    width: 100%;
}


.wrap-novelty .doors-panel >.wrap-tiles{
    left: 12px;
    top: 10px;
}
.wrap-novelty .tile{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    display: inline-block;
}
.wrap-novelty .tile:hover{
    box-shadow: 0px 0px 21px 7px #dcd7be;
}
.wrap-novelty .doors-panel > .wrap-tiles  .tile{
    padding-top: 5px;
    text-align: center;
    width: 230px;
    margin-left: 13px;
}

.wrap-novelty .doors-panel > .wrap-tiles >.tile:nth-child(2){
    margin-left: 9px;

}
.wrap-novelty .tile-img{
    /*margin: 0 auto;*/
    max-height: 342px;
    margin-left: 35px;
    margin-right: 35px;
}

/*-inner-doors*/
.wrap-novelty .novelty-show-more {
    height: 42px;
    width: 268px;
    color: #e7dcdb;
    background-color: #935347;
    border: 0;
    border-radius: 0;
    font-family: "PT Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.wrap-novelty .novelty-show-more:hover{
    color: #ffffff;
    background-color: #6a372d;
}
.wrap-novelty .info > .delimiter{
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 9px;
}

.wrap-novelty .info{
    margin-top: 5%;
    background-color: #ece7d4;
}
.wrap-novelty .info p{
    text-align: left;
    margin-left: 5%;
}
.wrap-novelty .info p:first-child{
    padding-top: 5%;
}
.wrap-novelty .novelty-h2{
    text-align: center;
    font-size: 2.8em;
    font-family: Copperplate, serif;
    margin-top: 100px;
    margin-bottom: 40px;
}
.wrap-novelty .running-ribbon-doors div.view{
    height: 600px;
    width: 100%;

}
.wrap-novelty .running-ribbon-doors div.view ul{
    height: 100%; width: 100%;
    list-style: none;
    /*line-height: 145px;*/
    padding-left: 0;
}
/*.block-4-price-count*/
.wrap-novelty .block-price-count{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-family: 'PTSerifBold', serif;
    font-size: 18px;
}
.wrap-novelty .block-price-count > a{
    color: #4e3d36;
}
.wrap-novelty .add-to-wish{
    font-size: 16px;
    margin-left: 100px;
    color: #4e3d36;
}