.wrap-quick-selection{
   /* height: 1415px; */
    height: 720px;
    background-position-y: -190px;
    background-image: url(../../img/background/d1ade-FOTO_INTRO_19.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category, .section-title, .pick-up{
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}
/* Кнопки выбора для Блока с фильтром быстрого подбора*/
.material, .style, .manufacturer, .block-1-price{
    display: inline-block;
    margin-left: 20px;
}
.material{
    margin-left: 0;
}
.wrap-quick-selection .row{
    max-width: 100%;
}
.ui-button-text-only .ui-button-text,
.material > div > button:nth-child(1){
    font-family: "PT Serif",serif;
    font-weight: normal;
    font-style: italic;
    color: #3c2f26;
    font-size: 16px;
    width: 177px;
}

.material > div > button:nth-child(2){
    font-size: 20px;
    width: 43px;
}

.style > div > button:nth-child(1){
    font-size: 20px;
    width: 177px;
}
.style > div > button:nth-child(2){
    font-size: 20px;
    width: 43px;
}

.manufacturer > div > button:nth-child(1){
    font-size: 20px;
    width: 177px;
}
.manufacturer > div > button:nth-child(2){
    font-size: 20px;
    width: 43px;
}

.block-1-price > div > button:nth-child(1){
    font-size: 20px;
    width: 177px;
}
.block-1-price > div > button:nth-child(2){
    font-size: 20px;
    width: 43px;
}

.pick-up > button{
    margin-top: 15%;
    font-size: 16px;
    font-family: PTSans, sans-serif;
    width: 272px;
    height: 42px;
    vertical-align: middle;
    background-color: #935347;
    color: #fffeff;
}
.pick-up > button:active,
.pick-up > button:hover,
.pick-up > button:visited,
.pick-up > button:focus{
    background-color: #6a372d;
    color: #fffeff;
}

.category{
    font-size: 21px;
    z-index: 1;
}
/* Указывается размер каретки*/
.category > a,
.category > a >.caret{
    color: #000;
    text-decoration: none;
    font-family: GothamPro, serif;
    font-size: 20px;
}
.category > a >.caret{
    border-top: 12px dashed;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
}
/* Категории */
.dropdown-header,
.category > ul > li > a{
    font-size: 20px;
    color: #935347;
    cursor:pointer;
    /* тестовые свойства*/
    font-size: 50px;/**/
}

.category > ul > li > a:hover{
    background-color: #e4e2db;
    color:#6a372d;
}
.category > ul{
    background-color: #f7f7f7;
    width: 100%;
    /* тестовые свойства*/
    width: 700px;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
}


/* Подкатегории */
.dropdown-submenu > ul{
    list-style-type: none;
}
.dropdown-submenu > ul > li > a,
.dropdown-submenu > ul > li{
    text-decoration: none;
    color: #955347;
    margin-left: 10%;
    /* тестовые свойства*/
    font-size: 40px;
    cursor:pointer;
}

.dropdown-submenu > ul > li > a:hover{
    background-color: #e4e2db;
    color:#6a372d;
}
.dropdown-submenu > ul > li:hover{
    background-color: #E4E2DB;
    text-decoration: none;
    color: #000;
}

.panel-quick-selection{
    font-size: 22px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;

}
.col-clear{
    padding-left: 0;
    padding-right: 0;
}
.panel-quick-selection  h2{
    color: #955347;
    border-bottom: #955347 dashed;
    font-size: 60px;
    font-family: PTSerifBold, serif ;
    text-align: center;
}
.panel-quick-selection  h2:hover{
    /*
    color: #6a372d;
    font-size: 66px;
    border-bottom: #6a372d dashed;
    */
}
@media screen and (min-width: 992px){
    .material, .style, .manufacturer,.block-1-price{
        margin-left: 20px;
    }
    .material{
        margin-left: 0;
    }
    .btn-group{
        border: 1px solid #574544;
    }
    .btn-default.btn.dropdown-toggle{
        border-left: 1px solid #574544;
        width: 40px;
        padding-bottom: 7px;
    }
}
.ui-button-text-only span.ui-button-text {
    padding: 0 1em;
    text-align: left;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "PT Serif",serif;
    font-weight: normal;
    font-style: italic;
    color: #3c2f26;
    font-size: 16px;
}
/*дополнителные стили*/
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: #e4e2db;
}
.category button{
    background: none;
    color: #000;
    text-decoration: none;
    font-family: GothamPro, serif;
    font-size: 20px;
    border:none;
}
