.wrap-about{
    position: relative;
    height: 669px;
    /*
    background-position-y: -454px;
    background-position-x: -1px;
    */
    background-size: 100%;
    background: #93fd73 url("../../img/background/FOTO_INTRO_22.jpg");
    background-position-y: 75%;
}
.wrap-about > h1{

    position: absolute;
    top: 12%;
    left: 43%;
    font-family: Copperplate;
    font-size: 34px;
}
.wrap-about > p:nth-child(2){
    position: absolute;
    top: 24%;
    left: 23%;
    width: 20%;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 28px;
    line-height: 124%;
}
.wrap-about > p:nth-child(3){
    position: absolute;
    top: 25%;
    left: 49%;
    width: 28%;
    font-family: "PT Serif";
    font-size: 20px;
}

.wrap-about > .btn {
    position: absolute;
    top: 73%;
    left: 37%;
    line-height: 42px;
    height: 42px;
    width: 462px;
    color: #e7dcdb;
    background-color: #935347;
    border: 0;
    border-radius: 0;
    font-family: "PT Sans";
    font-size: 20px;
    padding: 0 41px 5px 41px;
    letter-spacing: 2px;
}
.wrap-about > .btn:hover{
    color: #ffffff;
    background-color: #6a372d;
}