.wrap-manufacturers{
    position: relative;
    background-color: #fff;
}
.wrap-manufacturers .row {
    max-width: 100%;
}
.wrap-manufacturers > div.manufacturers > ul > li{
    display: inline-block;
    margin-left: 9%;
    margin-top: 4%;
}

.wrap-manufacturers > .manufacturers{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.wrap-resize > a > img{
    width: 100%;
    height: auto;
}
.manufacturers-h2{
    text-align: center;
    font-size: 40px;
    font-family: "Copperplate", sans-serif;
    margin-top: 100px;
    margin-bottom: 40px;
}
.wrap-manufacturers .arrow {
    background-image: url(../../img/other/angle-light.png);
    width: 61px;
    height: 10px;
}