.wrap-novelty {
    position: relative;
    height: 927px;
    background-color: #fdfdf3;
}

.wrap-novelty .row {
    max-width: 100%;
}

.arrow {
    position: absolute;
    top: 100%;
    /* верт. центр */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.wrap-novelty .arrow {
    background-image: url(../../img/other/angle-light.png);
    width: 61px;
    height: 10px;
}

.wrap-novelty .doors-panel {
    top: 138px;
    left: 399px;
    width: 100%;
}

/*-inner-doors*/
.wrap-novelty .novelty-show-more {
    height: 42px;
    width: 268px;
    color: #e7dcdb;
    background-color: #935347;
    border: 0;
    border-radius: 0;
    font-family: "PT Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wrap-novelty .novelty-show-more:hover {
    color: #ffffff;
    background-color: #6a372d;
}

.wrap-novelty .novelty-h2 {
    text-align: center;
    font-size: 2.8em;
    font-family: Copperplate, serif;
    margin-top: 100px;
    margin-bottom: 40px;
}

.wrap-novelty .running-ribbon-doors div.view {
    height: 543px;
    width: 100%;

}

.wrap-novelty .running-ribbon-doors div.view ul {
    height: 100%;
    width: 100%;
    list-style: none;
    /*line-height: 145px;*/
    padding-left: 0;
}

.doors-panel > .wrap-tiles > .tile:nth-child(2) {
    margin-left: 9px;
}
