.wrap-doors {
    position: relative;
    height: 927px;
    background-color: #fdfdf3;
}

.wrap-doors .row {
    max-width: 100%;
}

.wrap-doors .arrow {
    background-image: url(../../img/other/angle-light.png);
    width: 61px;
    height: 10px;
}

.wrap-doors .doors-panel {
    top: 138px;
    left: 399px;
    width: 100%;
}

.wrap-doors .doors-panel > .wrap-tiles {
    left: 12px;
    top: 10px;
}
.tab-content{
    margin-top: 30px;
}

.wrap-doors .doors-h2 {
    text-align: center;
    font-size: 2.8em;
    font-family: Copperplate, serif;
    margin-top: 100px;
    margin-bottom: 40px;
}

.wrap-doors .running-ribbon-doors div.view {
    height: 543px;
    width: 96%;

}

.wrap-doors .running-ribbon-doors div.view ul {
    height: 100%;
    width: 10000px;
    list-style: none;
    /* line-height: 145px; */
    padding-left: 0
}

.wrap-doors .block-price-count {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-family: 'PTSerifBold', serif;
    font-size: 18px;
}

/*******************************************************************/
.wrap-doors .door-show-more {
    height: 42px;
    width: 268px;
    color: #e7dcdb;
    background-color: #935347;
    border: 0;
    border-radius: 0;
    font-family: "PT Sans", sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.wrap-doors .door-show-more:hover {
    color: #ffffff;
    background-color: #6a372d;
}

.flex-wrap {
    display: flex;
}

.flex-vert-centr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.relative-wrap {
    position: relative;
}

.wrap-doors #prev {
    margin-left: 50%;
    margin-top: 160px;
    position: absolute;
    top: 50%;
}

.wrap-doors #next {
    margin-left: -90%;
    margin-top: 160px;
}

.wrap-doors .nav > li > a:hover,
.wrap-doors .nav > li > a:focus {
    text-decoration: none;
    background-color: inherit;
}

.wrap-doors > .nav-tabs {
    display: block;
    position: absolute;
    top: 153px;
    left: 745px;
    outline: 3px solid #802b3a;
    z-index: 1;
}

.wrap-doors .nav-pills > li.active > a {
    background-color: #802b3a;
}

.wrap-doors .nav-pills > li > a {
    letter-spacing: 3px;
}

.wrap-doors .nav-tabs > li > a:hover {
    border: none;
}

.wrap-doors .nav-pills {
    border: 1px solid #802b3a;
    padding: 0;
}
