@media screen and (min-width: 480px) and (max-width: 768px) {
    .circle-number{
        padding-left: 6px;
    }
    /******  BLOCK 1 **********************/
    @media screen {
        .panel-quick-selection {
            font-size: 20px;
            width: 460px;
        }

        .panel-quick-selection h2 {
            font-size: 50px;
        }

        .panel-quick-selection h2:hover {
            font-size: 50px;
        }

        .material, .style, .manufacturer, .block-1-price {
            margin-left: 0;
        }

        .col-navbar {
            height: 50px;
        }

        .block-1-price .btn-default.btn,
        .manufacturer .btn-default.btn,
        .style .btn-default.btn,
        .material .btn-default.btn {
            font-size: 16px;
        }

        .block-1-price > div > button:nth-child(1),
        .manufacturer > div > button:nth-child(1),
        .style > div > button:nth-child(1),
        .material > div > button:nth-child(1) {
            width: 188px;
        }

        .block-1-price > div.btn-group > button:nth-child(2),
        .manufacturer > div > button:nth-child(2),
        .style > div > button:nth-child(2),
        .material > div > button:nth-child(2) {
            width: 40px;
        }

        .col-clear {
            padding-left: 0;
            padding-right: 0;
        }

        div.col-navbar {
            height: 50px;
        !important;
        }



        .material, .style, .manufacturer,.block-1-price{
            margin-left: 20px;
        }
        .material{
            margin-left: 0;
        }
        .btn-group{
            border: 1px solid #574544;
        }
        .btn-default.btn.dropdown-toggle{
            border-left: 1px solid #574544;
            width: 40px;
            padding-bottom: 7px;
        }
        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            padding-bottom: 4px;
            font-size: 16px;
            width: 177px;
        }
        .btn-group{
            width: 220px;
        }
        .material, .manufacturer {
            margin-left: 0;
        }
        .style, .block-1-price {
            margin-left: 14px;
        }

    }
    /******  BLOCK 2 **********************/
    @media screen {
        .panel-Catalog {
            width: 348px;
        }

        .grips {
            width: 160px;
            height: 170px;
            background-size: cover;
        }

        .grips > .doors-gradient {
            width: 100%;
            height: 50%;
            margin-top: 44%;
        }

        .septa {
            width: 160px;
            height: 170px;
            background-size: cover;
        }

        .grips > .doors-gradient > h3 {
            padding-top: 20%;
        }

        .septa > .doors-gradient {
            width: 100%;
            height: 50%;
            margin-top: 43%;
            background-size: cover;
        }

        .septa > .doors-gradient > h3 {
            padding-top: 15px;
            font-size: 16px;
        }

        .entryDoors {
            width: 160px;
            height: 350px;
            margin-top: 20px;
            padding-top: 0;
            padding-left: 0;
            background-size: cover;
        }

        .entryDoors > .doors-gradient {
            width: 100%;
            height: 159px;
            margin-top: 180px;
        }

        .entryDoors .doors-gradient h3 {
            text-align: center;
            padding-top: 65%;
            font-size: 20px;
        }

        .interiorDoors {
            width: 345px;
            height: 340px;
            padding-top: 42%;
            background-size: cover;
        }

        .interiorDoors > .doors-gradient > h3 {
            font-size: 22px;
            padding-top: 40%;
        }

        .interiorDoors > .doors-gradient {
            width: 100%;
        }

        .running-ribbon div.view {
            width: 370px;
            margin-left: -28px;
        }

        button#next {
            margin-left: 68px;
            margin-top: 25px;
        }
    }

    /******  BLOCK 3 ACTION **********************/
    @media screen {
        .wrap-action {
            height: 866px;
            margin-bottom: 85px;
        }

        .action-panel {
            width: 435px;
        }

        .action-text,
        .action-header {
            text-align: center;

        }
        .entryDoors:hover{
            padding-top: 1px;
        }
        .entryDoors > .doors-gradient:hover {
            margin-top: 190px;
        }

        .action-header {
            margin-top: 0;
        }

        .action-text {
            font-size: 22px;
        }

        .contact-form {
            margin-top: 35px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /******  BLOCK 4  NOVELTY **********************/
    @media screen {
        .novelty > .wrap-tiles.view > ul > .tile:first-child,
        .novelty > .wrap-tiles.view > ul > .tile:nth-child(2) {
            background: black;
            display: none;
        }

        .novetly-col {
            padding-left: 0;
            padding-right: 0;
        }

        .wrap-novelty .tile {
            
        }

        .row-indent {
            margin-top: 10px;
        }

        .wrap-novelty .running-ribbon-doors div.view ul {
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /******  BLOCK 5  KEY BENEFITS **********************/
    @media screen {

        .row-indent {
            margin-top: 10px;
        !important;
        }

        .wrap-key-benefits {
            height: 1100px;
        }

        .key-benefits-h2 {
            margin: 75px 0 60px 0;
        }

        .key-benefits-text {
            min-height: 80px;
        }

        .panel-key-benefits .glyphicon {
            margin-left: 10px;
        }
        .key-benefits-text {
            width: 350px;

        }
    }
    /******  BLOCK 6 DOORS **********************/
    @media screen {

        // .wrap-doors .doors-panel.running-ribbon-doors .tile:nth-child(n+3){
        //     display: none;
        // }
        .wrap-doors .running-ribbon-doors div.view {
            width: 480px;
            margin-left: auto;
            margin-right: auto;
        }

        .wrap-doors #prev {
            margin-left: 0;
            margin-top: 0;
            position: absolute;
            top: 551px;
            z-index: 1;
        }

        .wrap-doors #next {
            margin-left: 0;
            margin-top: 0;
            position: absolute;
            top: -37px;
            left: 88%;
            z-index: 1;

        }

        .wrap-doors .door-show-more {
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-45%);
        }

        .wrap-doors .doors-panel {
            width: 100%;
        }
    }

    /************** BLOCK 7 FACTS **********************/
    .wrap-facts-at-Glance {
        min-height: 870px;
        max-width: 480px;
    }

    .facts h1, .facts p {
        text-align: center;
    }

    .facts p {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .facts {
        width: 460px;
    }

    /************** BLOCK 8 - SEPTA **************************/
    .wrap-septa #prev {
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 570px;
        z-index: 1;
    }

    .wrap-septa #next {
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: -45px;
        left: 86%;
        z-index: 1;
    }

    .wrap-septa .septa-show-more {
        position: absolute;
        top: -38px;
        left: 50%;
        transform: translateX(-45%);
    }

    // .wrap-septa .doors-panel {
    //     width: 106%;
    // }

    .wrap-septa .septa-h2 {
        margin-top: 70px;

    }

    .wrap-septa .tile {
        margin-top: 0;
    }
    .wrap-septa .running-ribbon-septa div.view {
        width: 479px;
        margin-left: auto;
        margin-right: auto;
    }
    .wrap-septa .tile {
        margin-left: 5px;
    }
    /******  BLOCK 9  ACTION 2 **********************/
    .wrap-action-another {
        height: 866px;
    }

    /******  BLOCK 10  MANUFACTURERS **********************/
    .manufacturers-h2 {
        margin-top: 80px;
        min-width: 479px;
    }
    /******  BLOCK 11  ABOUT **********************/
    .wrap-about{
        min-height: 750px;
    }
    .about-left{
        text-align: center;
    }
    .about-right{
        margin-left: 10px;
        margin-right: 10px;
    }
    /******  BLOCK 12  CONTACTS **********************/
    .wrap-contacts{
        min-height: 910px;
    }
    .wrap-contacts .contact-form {

        top: 530px;
        left: 50%;

    }
    @media screen and (max-width: 490px){
        .map{
            background: url("../../img/other/map-480.jpg") no-repeat;
            width: 480px;
            height: 910px;
            background-size: cover;

        }
    }
    @media screen and (min-width: 719px) and (max-width: 721px) {
        .map {
            background: url("../../img/other/map-750.jpg") no-repeat;
            width: 100%;
            height: 910px;
            background-size: cover;

        }
    }
}
/********** Fix *********/
@media screen and (min-width: 768px)and (max-width:980px) {
    .col-xs-9{
        float: none;
    }
    .btn.door-show-more{
        white-space: normal;
    }
    .door-show-more-text{
        top: -40px;
        position: relative;
    }
}

/*дополнительные стили*/
@media(max-width:1300px){
    .wrap-quick-selection{
        background-position: center center;
    }
}

@media screen and (min-width:992px) and (max-width:1100px){
    #action .row{
        margin: 0;
    }
    .contact-form{
        margin: 0 auto;
    }
    #manufacturers .row{
        margin: 0;
    }
    /*слайдер в секции Двери*/
    .wrap-doors .running-ribbon-doors div.view{
        width: 715px;
    }
    .wrap-doors .doors-panel{
        width: 715px;
        margin: 0 auto;
   }
   .col-md-10.col-xs-12.novetly-col.novelty-folders{
        width: 840px;
   }
   .wrap-doors .row{
    width: 980px;
   }
   /*слайдер в секции Каталог*/
   #catalog .ribbon-panel .row{
        margin: 0;
   }
   .running-ribbon div.view{
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    
   }
   #catalog button#next{
    margin-left: 0;
   }
   /*слайдер в перегородках*/
   .wrap-septa .septa-row{
    width: 990px;
   }
   .novelty-folders{
    width: 850px;
   }
   .doors-panel.running-ribbon-septa{
    width: 710px;
    margin: 0 auto;
   }
   .wrap-septa .running-ribbon-septa div.view{
    width: 710px;
   }
   /*производители*/
   #manufacturers ul{
    width: 745px;
    margin: 0 auto;
   }
}
@media (max-width: 980px) and (min-width: 768px){
    .wrap-novelty .tile:nth-child(4){
        display: none;
    }
    /*ключевые преисущества*/
    .text-block-time, .text-block-scale, .text-block-ruby, .text-block-alert, .text-block-star, .text-block-calc{
        padding-top: 15px;
    }
    .key-benefits-text{
        width: 100%;
    }
}
@media (max-width: 768px) and (min-width: 480px){
    #septa .novelty-folders{
        padding: 0;
    }
    .wrap-septa .doors-panel{
        width: 100%;
    }
    /*блок акция*/
    .action-another .row{
        margin: 0;
    }
    .wrap-action-another{
        margin-bottom: 85px;
    }
}

/*адаптив до 320px*/
@media (max-width: 479px) and (min-width: 320px){
    /*шапка*/
    header div.col-xs-4{
        width:100%;
        text-align: center;
    }
    header .col-xs-4+.col-xs-7{
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    header .col-xs-7+.col-xs-6{
        left: 0;
        width: 100%;
        text-align: center;
    }
    #phone_2{
        text-align: center;
        
    }
    /*навигация*/
    #wrap-tablet{
        width: 100%;
        height: 60px;
        position: absolute;
        display: block;
    }
    .glyphicon-align-left:before{
        content: '\e052';
    }
    div#other-panel{
        float: right;
        position: relative;
        width: 100px;
        height: 40px;
        z-index: 1000;
        line-height: 70px;
        top: 0;
    }
    div#other-panel > a{
        color: #d3ccad;
        margin-left: 20px;
        text-decoration: none;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background-color: transparent;
    }
    .navbar-default .navbar-toggle{
        border: none;
        font-size: 21px;
        z-index: 1002;
        margin-left: 30px;
    }
    .navbar-default .navbar-toggle{
        font-size: 21px;
    }
    .navbar-center{
        z-index: 20;
        background-color: #413332;
    }
    .navbar-center{
        width: 100%;
        text-align: center;
    }
    .col-navbar .navbar-center > li{
        display: block;
    }
    div#wrap-tablet.fixed{
        position: fixed;
        top: 0px;
        width: 90%;
        z-index: 1001;
        margin-left: 10%;
    }
    .fixed-0-0-top{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    /*1-я секция*/

    .panel-quick-selection{
        width: 300px;
    }
    .panel-quick-selection  h2{
        font-size: 30px;
    }
    .col-clear{
        text-align: center;
        
    }
    .material, .style, .manufacturer, .block-1-price{
        margin-left: 0;
        margin-bottom: 10px;
    }
    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
        padding-bottom: 8px;
    }
    .wrap-quick-selection .row{
        margin-left: 0;
        margin-right: 0;
    }
    /*секция каталог*/
    .wrap-catalog{
        height: auto;
    }
    .interiorDoors{
        width: 300px;
    }
    .interiorDoors > .doors-gradient{
        width: 290px;
    }
    .panel-Catalog{
        width: 300px;
    }
    .grips, .septa{
        width: 150px;
    }
    .grips > .doors-gradient, .septa > .doors-gradient{
        width: 140px;
    }
    .grips > .doors-gradient > h3{
        padding-top: 100%;
    }
    .tiles h3{
        font-size: 14px;
    }
    .septa > .doors-gradient > h3{
        padding-top: 90%;
    }

    .entryDoors{
        height: 478px;
        width: 135px;
    }
    .tiles .col-sm-4{
        padding-left: 30px;
    }
    .entryDoors > .doors-gradient{
        width: 123px;
    }
    .entryDoors > .doors-gradient > h3{
        padding-top: 100%;
    }
    /*слайдер*/
    .ribbon-panel{
        margin-top: 20px;
    }
    .running-ribbon{
        width: 300px;
        margin: 0 auto;
    }
    .running-ribbon div.view{
        width: 225px;
    }
    #catalog .running-ribbon .col-md-10{
        width: 200px;
        padding: 0;
    }
    #catalog .show{
        padding: 0;
    }
    #catalog .prev{
        padding: 0;
    }
    #catalog button#next{
        margin-left: 0;
        margin-top: 20px;
        width: 40px;
    }
    #catalog button#prev{
        width: 40px;
        margin-left: 0;
    }

    /*секция акция*/
    #action.wrap-action{
        height: 1000px;
    }
    .action-panel{
        width: 300px;
        top: 40%;
    }
    #action .contact-form{
        width: 300px;
    }
    #action .contact-form-header-all{
        font-size: 28px;
    }
    .action-text{
        font-size: 20px;
        margin-bottom: 45px;
    }
    /*секция новинки*/
    .novelty > .wrap-tiles.view > ul > .tile:first-child, .novelty > .wrap-tiles.view > ul > .tile:nth-child(2){
        display: none;
    }
    .wrap-novelty{
        height: auto;
    }
    .wrap-novelty .running-ribbon-doors div.view{
        height: auto;
    }
    #novelty .tile{
        float: none;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    /*секция ключевые преимущества*/
    .wrap-key-benefits, .panel-key-benefits{
        height: auto;
    }
    #key-benefits .panel-key-benefits .col-md-1{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    #key-benefits .panel-key-benefits .col-md-4{
        width: 100%;
        padding: 0 15px;
    }
    #key-benefits .panel-key-benefits .col-md-5{
        width: 100%;
        padding: 0 15px;
    }
    .key-benefits-text{
        width: 100%;
    }
    .row-indent{
        margin-top: 0;
    }
    .wrap-key-benefits{
        padding-bottom: 140px;
    }
    .key-benefits-text, .text-block-scale{
        margin-bottom: 25px;
    }
    /*секция двери*/
    .wrap-doors .nav-pills > li > a{
        font-size: 10px;
    }
    .wrap-doors .running-ribbon-doors div.view{
        width: 240px;
    }
    .wrap-doors .doors-panel{
        width: 240px;
        margin-right: auto;
        margin-left: auto;
    }
    .wrap-doors #prev{
        margin-top: 525px;
        z-index: 100;
        margin-left: 15px;
    }
    .wrap-doors #next{
        margin-left: 0;
        margin-top: 0;
    }
    #doors .row-next{
        text-align: right;
        padding-right: 40px;
        margin-top: -50px;
    }
    .wrap-doors .row{
        width: 300px;
        margin-right: auto;
        margin-left: auto; 
    }
    #doors .center-block .door-show-more{
        margin-top: 25px;
    }
    /*секция факты*/
    .facts{
        width: 300px;
        text-align: center;
        
    }
    .facts > .row{
        width: auto;
    }
    .wrap-facts-at-Glance{
        height: 650px;
    }
    /*секция перегородки*/
    .wrap-septa .running-ribbon-septa div.view{
        width: 240px;
    }
    .doors-panel.running-ribbon-septa{
        width: 240px;
        margin: 0 auto;
    }
    .wrap-septa #prev{
        margin-top: 500px;
        margin-left: 25px;
        z-index: 100;
    }
    .wrap-septa #next{
        margin-left: 0;
        margin-top: 0;
    }
    #septa .row-next{
        text-align: right;
        padding-right: 40px;
        margin-top: -100px;
        float: right;
    }
    /*секция акция*/
    .wrap-action-another .row{
        width: 300px;
    }
    .wrap-action-another{
        height: 1100px;
    }
    #action-another .contact-form{
        width: auto;   
    }
    .img-holder-alter-3{
        height: 1100px;
    }
    /*секция производители*/
    #manufacturers{
        text-align: center;
    }
    /*секция о компании*/
    .wrap-about{
        padding-left: 10px;
        padding-right: 10px;
    }
    .get-consultation{
        white-space: inherit;
        font-size: 30px;
    }
    /*секция контакты*/
    #contacts .contact-form-back-call{
        width: 300px;
    }
    .wrap-contacts .contact-form{
        top: 45%;
        left: 45%;
    }
    .contact-form-phone{
        font-size: 14px;
    }
    .contact-form button{
        font-size: 11px;
    }
    /*футер*/
    #footer{
        font-size: 12px;
    }
}