/*  scale on 15%  */

@keyframes scale_15 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}

@keyframes backgroundscale_15 {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 115%;
    }
}