.wrap-action{
    position: relative;
    height: 647px;
    background-color: #fde500;
    z-index: 0;
}



.wrap-action > h1{
    position: absolute;
    top: 30%;
    left: 23%;
    color: #F1F0F0;
    font-size: 50px;
    font-family: 'Copperplate', serif;
}
.wrap-action > p{
    position: absolute;
    top: 44%;
    left: 23%;
    color: #F1F0F0;
    font-size: 28px;
    font-family: 'PTSerif', serif;
    width: 25%;
}
.contact-form{
    width: 20%;
    height: 75%;
    background-color: #FFFFFF;
    position: absolute;
    top: 12%;
    left: 57%;
}
.contact-form input{
    background-color: #f3f0df;
    font-family: 'PTSerif', serif;
    font-style: italic;
    color: #000;
}
/* цвет шрифта для placeholder */
.contact-form input::-webkit-input-placeholder {color:#000;}
.contact-form input::-moz-placeholder          {color:#000;}
.contact-form input:-moz-placeholder           {color:#000;}
.contact-form input:-ms-input-placeholder      {color:#000;}

/* сдвиг placeholder-а вправо при фокусе */
.contact-form input::-webkit-input-placeholder {color:#000;text-overflow:ellipsis; text-indent: 0px;   transition: text-indent 0.3s ease;}
.contact-form input::-moz-placeholder          {color:#000;text-overflow:ellipsis; text-indent: 0px;   transition: text-indent 0.3s ease;}
.contact-form input:-moz-placeholder           {color:#000;text-overflow:ellipsis; text-indent: 0px;   transition: text-indent 0.3s ease;}
.contact-form input:-ms-input-placeholder      {color:#000;text-overflow:ellipsis; text-indent: 0px;   transition: text-indent 0.3s ease;}

.contact-form input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.contact-form input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.contact-form input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.contact-form input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

/* плавное изменение прозрачности  placeholder-а при фокусе
.contact-form input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.contact-form input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.contact-form input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.contact-form input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}

.contact-form input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.contact-form input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.contact-form input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.contact-form input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
*/