.wrap-key-benefits{
    position: relative;
    height: 802px;
    background-color: #dad2bb;
    padding: 87px 0 0 416px;
}

.panel-key-benefits{
    position: relative;
    width: 960px; height: 568px;
    outline: 1px solid;
    /*background-color: #8f94fd;*/
}
.panel-key-benefits > h2 {
    margin: 9px 0 0 226px;
    font-family: 'Copperplate';
    font-size: 40px;
}
.glyphicon-scale:before{
    font-family: 'FontAwesome';
    content:"\f277";
}
.glyphicon-calc:before{
    font-family: 'FontAwesome';
    content:"\F1EC";
}
.glyphicon-ruby:before{
    font-family: 'FontAwesome';
    content:"\F219";



}
.panel-key-benefits > .glyphicon{
    font-size: 40px;
    color: #bca998;
    width: 102px;  height: 102px;
    /* круг */
    border: 1px solid black;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    /* вертикальное выравнивание */
    display: table-cell;
    vertical-align: middle
}
.panel-key-benefits *:before {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42px;
    height: 42px;
}