.wrap-Catalog{
    position: relative;
    height: 950px;
    background-color: #fdfdf3;
}
.panel-Catalog{
    position: absolute;
    top: 70px;
    left: 348px;
    min-height: 730px;
    width: 1100px;
}
.panel-Catalog > h2{
    font-family: Copperplate, serif;
}
.tiles{
    font-family: "PT Sans Caption", serif;
    color: #ffffff;
}

.doors-gradient{
    /* Gradient */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,413332+80,413332+100&0+0,1+80,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(65,51,50,1) 80%, rgba(65,51,50,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(65,51,50,1) 80%,rgba(65,51,50,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(65,51,50,1) 80%,rgba(65,51,50,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#413332',GradientType=0 ); /* IE6-9 */

}
.entryDoors{
    position: absolute;
    top: 69px;
    left: 796px;
    background-image: url(../img/catalog/entryDoors.jpg);
    width: 235px;
    height: 476px;
}
.entryDoors > .doors-gradient{
    position: absolute;
    top: 312px;
    left: 1px;
    width: 225px;
    height: 159px;
}
.entryDoors > .doors-gradient > h3{
    position: absolute;
    top: 102px;
    left: 23px;
}
.grips{
    position: absolute;
    top: 68px;
    left: 557px;
    background-image: url(../img/catalog/grips.jpg);
    width: 230px;
    height: 234px;
    /* border: solid #935347 5px; */
}
.grips > .doors-gradient{
    position: absolute;
    left: 5px;
    top: 56px;
    width: 220px;
    height: 173px;
}
.grips > .doors-gradient > h3{
    position: absolute;
    top: 114px;
    left: 73px;
}
.septa{
    position: absolute;
    top: 313px;
    left: 557px;
    background-image: url(../img/catalog/septa.jpg);
    width: 225px;
    height: 234px;
    /* border: solid #935347 5px; */
}
.septa > .doors-gradient{
    position: absolute;
    top: 60px;
    left: 5px;
    width: 215px;
    height: 169px;
}
.septa > .doors-gradient > h3{
    position: absolute;
    top: 84px;
    left: 13px;
    text-align: center;
}
.interiorDoors{
    position: absolute;
    top: 68px;
    left: 70px;

    background-image: url(../img/catalog/interiorDoors.jpg);
    width: 475px;
    height: 478px;
}

.interiorDoors > .doors-gradient{
    position: absolute;
    left: 7px;
    top: 299px;
    width: 463px;
    height: 173px;
}
.interiorDoors > .doors-gradient > h3{
    position: absolute;
    top: 109px;
    left: 96px;
    font-size: 22px;
}
.tiles h3{
    font-size: 22px;
}

.grips:after,
.septa:after,
.entryDoors:after,
.interiorDoors:after {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    border: 6px solid #935347;
    /*Для отладки*/
    /* background-color: #1b6d85;*/
}

.panel-Catalog > h2{
    position: absolute;
    top: -25px;
    left: 471px;
    font-size: 40px;
}


.entryDoors:hover
{
    animation: backgroundscale_15 .9s linear normal  forwards;
}
.grips:hover
{
    animation: backgroundscale_15 .9s linear normal  forwards;
}
.septa:hover
{
    animation: backgroundscale_15 .9s linear normal  forwards;
}
.interiorDoors:hover
{
    animation: backgroundscale_15 .9s linear normal  forwards;
}

/* Бекущая лента */

.running-ribbon{
    position: absolute;
    top: 581px;

    width: 100%;
    height: 145px;
}

div.view{
    height: 150px;
    width: 89%;
    margin-left: 5%;
    overflow: scroll;
    /*background: #f5ff00;*/
}
div.view ul{
    height: 100%;
    list-style: none;
    width: 10000px;
    line-height: 145px;

}
div.view ul > li{
    vertical-align: middle;
    margin-right: 35px;
    border: 1px solid black;
}
div.view ul > li:hover{
    background-color: #1b6d85;
}
div.view ul li{ float: left}

#show{
    position: absolute;
    top: 32px;
    /* display: none; */
    margin-top: 1em;
}

div#show button{
    padding: 1em;
    margin-right: 1em;
    cursor: pointer;
}
div#show button:nth-child(1){
    background-image: url('../img/UI/arrow_inactive.jpg');
    width: 50px;
    height: 50px;
    transform: scale(1, 1);
}
div#show button:nth-child(2){
    left: 1019px;
    position: absolute;
    top: 0;
    background-image: url('../img/UI/arrow_inactive.jpg');
    transform: scale(-1, 1);
    width: 50px;
    height: 50px;
}
div#show button:nth-child(1):hover{
    background-image: url('../img/UI/arrow_active.jpg');
    transform: scale(-1, 1);
}
div#show button:nth-child(2):hover{
    background-image: url('../img/UI/arrow_active.jpg');
    transform: scale(1, 1);
}
