.wrap-Catalog{
    position: relative;
    height: 950px;
    background-color: #fdfdf3;
}
.panel-Catalog{
    position: absolute;
    top: 70px;
    left: 348px;
    min-height: 730px;
    width: 1100px;
}
.panel-Catalog > h2{
    font-family: Copperplate;
}
.tiles{
    font-family: "PT Sans Caption";
    color: #ffffff;
}

.doors-gradient{
    /* Gradient */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,413332+70,413332+100&0+0,1+70,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(65,51,50,1) 70%, rgba(65,51,50,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(65,51,50,1) 70%,rgba(65,51,50,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(65,51,50,1) 70%,rgba(65,51,50,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#413332',GradientType=0 ); /* IE6-9 */
}
.entryDoors{
    position: absolute;
    top: 69px;
    left: 796px;
    background-image: url(../img/catalog/entryDoors.jpg);
    width: 235px;
    height: 476px;
}
.entryDoors > .doors-gradient{
    position: absolute;
    top: 312px;
    left: 1px;
    width: 225px;
    height: 159px;
}
.entryDoors > .doors-gradient > h3{
    position: absolute;
    top: 108px;
    left: 17px;
}
.grips{
    position: absolute;
    top: 68px;
    left: 557px;
    background-image: url(../img/catalog/grips.jpg);
    width: 230px;
    height: 234px;
    /* border: solid #935347 5px; */
}
.grips > .doors-gradient{
    position: absolute;
    top: 61px;
    width: 230px;
    height: 173px;
}
.grips > .doors-gradient > h3{
    position: absolute;
    top: 107px;
    left: 77px;
}
.septa{
    position: absolute;
    top: 313px;
    left: 557px;
    background-image: url(../img/catalog/septa.jpg);
    width: 225px;
    height: 234px;
    /* border: solid #935347 5px; */
}
.septa > .doors-gradient{
    position: absolute;
    top: 60px;
    width: 223px;
    height: 173px;
}
.septa > .doors-gradient > h3{
    position: absolute;
    top: 83px;
    left: 18px;
    text-align: center;
}
.interiorDoors{
    position: absolute;
    top: 68px;
    left: 70px;

    background-image: url(../img/catalog/interiorDoors.jpg);
    width: 475px;
    height: 478px;
}

.interiorDoors > .doors-gradient{
    position: absolute;
    left: 7px;
    top: 299px;
    width: 463px;
    height: 173px;
}
.interiorDoors > .doors-gradient > h3{
    position: absolute;
    top: 108px;
    left: 96px;
}

.grips:after,
.septa:after,
.entryDoors:after,
.interiorDoors:after {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    border: 5px solid #935347;
    /*Для отладки*/
    /* background-color: #1b6d85;*/
}

.panel-Catalog > h2{
    position: absolute;
    top: -25px;
    left: 471px;
    font-size: 40px;
}


.entryDoors:hover
{
    animation: backgroundscale_15 .9s linear normal  forwards;
}
.grips:hover
{
    animation: backgroundscale_15 .9s linear normal  forwards;
}
.septa:hover
{
    animation: backgroundscale_15 .9s linear normal  forwards;
}
.interiorDoors:hover
{
    animation: backgroundscale_15 .9s linear normal  forwards;
}
