.wrap-Contacts{
    background-color: #affd00;
    position: relative;
    height: 653px;
}
/***************************************/
.wrap-catalog,
.wrap-novelty,
.wrap-doors,
.wrap-septa,
.wrap-manufacturers,
.wrap-Contacts{
    background-color: #fdfdf3;
}
.wrap-quick-selection,
.wrap-action,
.wrap-key-benefits,
.wrap-facts-at-Glance,
.wrap-action-another,
.wrap-about{
    background-color: #dad2bb;
}