.contact-form {
    width: 365px;
    height: 490px;
    background-color: #FFFFFF;
    padding: 0 30px 0 30px;
}
.contact-form p {
    margin-bottom: 5%;
    text-align: left;
}

.contact-form hr {
    margin: 10% 0 10% 0;
}

.contact-form > .row {
    margin-left: 0;
    margin-right: 0;
}
.form-control{
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    border: none;
}
.contact-form button {
    background-color: #955347;
    border: none;
    border-radius: 0;
    font-family: "PT Sans",sans-serif;
    font-style: normal;
    font-size: 16px;
    width: 100%;


}
.contact-form button:hover {
    background-color: #6a372d;
}
.form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
}
.contact-form textarea,
.contact-form input {
    background-color: #f3f0df;
    font-family: 'PTSerif', serif;
    font-style: italic;
    color: #000;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}


/* цвет шрифта для placeholder */
.contact-form textarea::-webkit-input-placeholder,
.contact-form input::-webkit-input-placeholder {
    color: #000;
    font-family: "PT Serif",serif;
    font-style: italic;
    font-size: 14px;
}
.contact-form textarea::-moz-placeholder,
.contact-form input::-moz-placeholder {
    color: #000;
    font-family: "PT Serif",serif;
    font-style: italic;
    font-size: 14px;
}
.contact-form textarea:-moz-placeholder,
.contact-form input:-moz-placeholder {
    color: #000;
    font-family: "PT Serif",serif;
    font-style: italic;
    font-size: 14px;
}
.contact-form textarea:-ms-input-placeholder,
.contact-form input:-ms-input-placeholder {
    color: #000;
    font-family: "PT Serif",serif;
    font-style: italic;
    font-size: 14px;
}

/* сдвиг placeholder-а вправо при фокусе */
.contact-form textarea::-webkit-input-placeholder,
.contact-form input::-webkit-input-placeholder {
    color: #000;
    text-overflow: ellipsis;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}
.contact-form textarea::-moz-placeholder,
.contact-form input::-moz-placeholder {
    color: #000;
    text-overflow: ellipsis;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}
.contact-form textarea:-moz-placeholder,
.contact-form input:-moz-placeholder {
    color: #000;
    text-overflow: ellipsis;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}
.contact-form textarea:-ms-input-placeholder,
.contact-form input:-ms-input-placeholder {
    color: #000;
    text-overflow: ellipsis;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}
.contact-form textarea:focus::-webkit-input-placeholder,
.contact-form input:focus::-webkit-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}
.contact-form textarea:focus::-moz-placeholder,
.contact-form input:focus::-moz-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}
.contact-form textarea:focus:-moz-placeholder,
.contact-form input:focus:-moz-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}
.contact-form textarea:-ms-input-placeholder,
.contact-form input:focus:-ms-input-placeholder {
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

/* плавное изменение прозрачности  placeholder-а при фокусе
.contact-form input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.contact-form input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.contact-form input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.contact-form input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}

.contact-form input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.contact-form input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.contact-form input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.contact-form input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
*/


/*******************************************************/
.contact-form-header-all{
    font-family: 'PTSerif', serif;
    font-size: 30px;
    margin-top: 45px;
}
.contact-form-text{
    font-family: "PTSans", sans-serif;
    font-size: 16px;
}

.contact-form-header{
    font-family: "PTSerif", serif;
    font-size: 40px;
}
.contact-form-city,
.contact-form-str,
.contact-form-phone,
.contact-form-mail{
    font-family: "PTSans", sans-serif;
    font-size: 18px;
}
.contact-form-city{
    color: #fda552;
}
 .contact-form-mail{
     color: #b16e3a;
 }
.contact-form-back-call{
    height: 540px;
}
.col-lg-12{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}