/*
#home {
    background: url(home-bg.jpg) center 0 repeat fixed; min-height: 1200px;
}
#about {
    background: url(about-bg.jpg) center 0 no-repeat min-height: 1200px;
}

*/
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fdfdf3;
    /*background-color: rgba(255, 0, 4, 0.55);*/
    position: relative;
}
.content {
    width: 100%;
}
.max-width.row{
    max-width: 100%;
    width: 100%;
}

/*      breadcrumb      */
.breadcrumb {
    margin-left: 0;
    margin-top: 5%;
    padding-left: 0;
    background-color: #fdfdf3;
}

.breadcrumb li {
    margin-left: 5px;
}

.breadcrumb a {
    color: #413332;
    font-family: "PTSans", sans-serif;
    font-size: 16px;
}

/* content = чем разделяются крошки */
.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: " ";
}
/*** Прижатый футер ***/
.wrap-all{
    /*margin-bottom: -140px;*/
    position: relative;
}
#footer {
    position: absolute;
    /*bottom: 0;*/
    width: 100%;
    /*margin-bottom: 10px;*/
}
/******************************/
/*****************  NavBar  *********************************/
.navbar-toggle {
    float: left; /**/
    margin: 1%;
}

#navbar-line nav.navbar-default {
    background-color: #413332;
    color: #d2cca8;

    border-color: #413332;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #574847;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #574847;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #d2cca8;
    line-height: 30px;
    letter-spacing: 0.3px;
    min-width: 48px;
    min-height: 60px;
    font-size: 17px;

    border-left: 1px solid #352929;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #574847;
!important;
    color: #ffffff;
!important;
}

@media (min-width: 1092px) {
    /* TODO переключить на кнопку   */
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

/*****************************************************/
/*  header */
header {
    position: relative;
}

header > div {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#phone_1 {
    font-size: 18px;
    font-family: "PTSans", sans-serif;
    letter-spacing: 1.8px;
}

#phone_2 {
    font-size: 18px;
    font-family: "PTSans", sans-serif;
    letter-spacing: 1.8px;
}

#phone_1_label {
    color: #c5926b;
    font-size: 14px;
    font-family: "PTSans", sans-serif;
    letter-spacing: 0.1px;
}

.email-nonactive {
    color: #c5926b;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-family: "PTSans", sans-serif;
}

.email-nonactive > a {
    color: #c5926b;
    text-decoration: none;
}

/*******  button *********************/
#ask_a_question-button {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10.5pt; /* -1/4 от 14pt в photoShop*/
    padding: 10px 20px 10px 20px;

    border-radius: 20px;
    text-decoration: none;
    border: 1px solid #942b34;
    color: #942b34;
}

#ask_a_question-button:hover {
    color: white;
    background: #942b34;
}

/************************************/
header .row:first-child {
    margin: 3%;
}

.navbar-line-empty {
    position: absolute;
    top: 139px;
    height: 64px;
    width: 100%;
    background-color: #413332;
}

.footer-general {/*,.push */
}

.footer-general .navbar-nav {
    width: 100%;
    text-align: center;
}

.footer-general .navbar-nav > li {
    float: none;
    display: inline-block;
}

.footer-copy {
    text-align: center;
    color: #cfcbbd;
    background-color: #352929;
    height: 80px;
    line-height: 80px;
}
@media screen and (min-width: 992px){
    .footer-copy-text{
        margin-left: -740px;
    }
}

.footer-copy-text {
    line-height: 80px;
    padding-left: -50%;
}

.navbar-footer > li > a:hover,
.navbar-footer > li > a:active {
    background-color: #574847;
!important;
    color: #ffffff;
!important;
}

.navbar-footer > li > a {
    line-height: 30px;
    letter-spacing: 0.3px;
    min-width: 48px;
    min-height: 60px;

    background-color: #413332;
    color: #d2cca8;
}

.navbar-footer {
    font-size: 17px;
    background-color: #413332;
}

.navbar-center {
    width: 100%;
    text-align: center;
}

.navbar-center > li {
    float: none;
    display: inline-block;
}

.fixed-0-0-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Для fixedMenu.js */
.fixed-0-0-top > .navbar-header {
    left: 8%;
}

/* Для scrollspy.js */
.lightButton {
    background-color: #574847 !important;
    color: #ffffff !important;
}

.row-navbar {
    max-width: none;
}

.col-navbar {
    height: 64px;
}
#wishlist{
    position: relative;
}
.circle-number{
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 1;
    color: #efe2e9;
    background-color: #942b32;
    line-height: 18px;
    font-size: 9px;
    /* круг */
    width: 18px;
    height: 18px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}
.modal-dialog,
.modal-dialog{
    /*margin-top: 30px;*/
    background-color: #0f0f0f;
}
.limited-content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}
