.navbar-default .navbar-nav > li > a {
    padding: 18px 14px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    padding: 18px 14px;
}

@media screen and (max-width: 768px)and (min-width: 480px) {
    header > div {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    header .row:first-child {
        margin: 0;
    }

    .header-row {
        padding: 20px 0 0 0;
    }

    #phone_2 {
        text-align: right;
        margin-bottom: 10px;
        margin-right: -15px;
    }

    .button-quest {
        text-align: right;
    }

    header {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .header-ask-question {
        text-align: right;
    }


    /**************  Навигация  *******************************/

    #wrap-tablet {
        width: 100%;
        height: 60px;
        position: absolute;
        display: none;
    }

    #wrap-tablet > #panel-tablet > div#button-toggle::before {
        position: relative;
        z-index: 100;
        color: #d2ccac;
        font-size: 20px;
        line-height: 60px;
        margin-left: 10px;
        cursor: pointer;
        display: none;
    }

    div#wrap-tablet {
        display: block;
    }

    div#other-panel {
        float: right;
        position: relative;
        width: 100px;
        height: 40px;
        z-index: 1000;
        line-height: 70px;
        top: 0;
    }

    div#other-panel > a > span {
        font-size: 20px;
    }

    div#other-panel > a {
        color: #d3ccad;
        margin-left: 20px;
        text-decoration: none;
    }

    .navbar-center > li {
        display: block;
    }

    .navbar-center {
        z-index: 20;
        background-color: #413332;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;

    }
    .navbar-default .navbar-toggle{
        border: none;
        font-size: 21px;
        z-index: 1002;
        margin-left: 30px;
    }

    div#wrap-tablet.fixed {
        position: fixed;
        top: 0px;
        width: 90%;
        z-index: 1001;
        margin-left: 10%;
    }
    .container > .navbar-collapse > ul > li:last-child > a{
        display: none;
    }
    .col-navbar > #navbar-line > .navbar-default >
    .container > .navbar-collapse > ul > li:nth-child(8) > a{
        display: none;
    }

}

/*дополнительные стили, адаптив на 320px*/
@media (max-width: 479px) and (min-width: 320px){
    /*шапка*/
    header div.col-xs-4{
        width:100%;
        text-align: center;
    }
    header .col-xs-4+.col-xs-7{
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    header .col-xs-7+.col-xs-6{
        left: 0;
        width: 100%;
        text-align: center;
    }
    #phone_2{
        text-align: center;
        
    }
    /*навигация*/
    #wrap-tablet{
        width: 100%;
        height: 60px;
        position: absolute;
        display: block;
    }
    .glyphicon-align-left:before{
        content: '\e052';
    }
    div#other-panel{
        float: right;
        position: relative;
        width: 100px;
        height: 40px;
        z-index: 1000;
        line-height: 70px;
        top: 0;
    }
    div#other-panel > a{
        color: #d3ccad;
        margin-left: 20px;
        text-decoration: none;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background-color: transparent;
    }
    .navbar-default .navbar-toggle{
        border: none;
        font-size: 21px;
        z-index: 1002;
        margin-left: 30px;
    }
    .navbar-default .navbar-toggle{
        font-size: 21px;
    }
    .navbar-center{
        z-index: 20;
        background-color: #413332;
    }
    .navbar-center{
        width: 100%;
        text-align: center;
    }
    .col-navbar .navbar-center > li{
        display: block;
    }
    div#wrap-tablet.fixed{
        position: fixed;
        top: 0px;
        width: 90%;
        z-index: 1001;
        margin-left: 10%;
    }
    .fixed-0-0-top{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
}