@media screen and (max-width: 768px){
    header > div {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }
    header .row:first-child {
        margin: 0;
    }
    .header-row {
        padding: 20px 0 0 0;
    }
    .header-phone{

        text-align: right;
        margin-bottom: 10px;
    }
    .button-quest{
        text-align: right;
    }
    header{
        margin-bottom: 20px;
    }
}