/*
<!-- Подключеные шрифты от Google -->
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'PT Serif Caption', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Montserrat', sans-serif;
*/

@font-face {
    font-family: Copperplate; // имя шрифта для CSS правил 
    src:url(../Fonts/Copperplate.ttc); // если шрифт не установлен, тогда загружаем его по указанному пути
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: PTSans;
    src:url(../Fonts/PTSans.ttc);
}
@font-face {
    font-family: PTSansBold;
    src:url(../Fonts/pt-sansbold.ttf);
}
@font-face {
    font-family: PTSerif;
    src:url(../Fonts/PTSerif.ttc);

}
@font-face {
    font-family: PTSerifBold;
    src:url(../Fonts/pt_serif_bold.ttf);
}
@font-face {
    font-family: PTSerifCaption;
    src:url(../Fonts/PTSerifCaption.ttc);
}

@font-face {
    font-family: GothamPro;
    src:url(../Fonts/GothamPro.ttf);
}

@font-face {
    font-family: Awesome;
    src: local("awesome"),
    url(../Fonts/awesome.ttf);
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src:url('../Fonts/glyphicons-halflings-regular.ttf')     format('truetype'),
}

/*rouble.otf*/

@font-face {
    font-family: ALSRubl;
    src:url(../Fonts/rouble.otf);
}

