@media (min-width:768px){

	header{
		width:960px;
		margin:0px auto;
		padding:22px 0px;
	}


	header > div{
		width:100%;
		margin:0px;
		padding:0px;
	}

	header .row:first-child{
		margin:0px;
		padding:0px;
	}

	header .row:first-child > div:first-child{
		padding:0px;
		margin:0px;
		width:195px;
	}

	header .row:first-child > div:nth-child(2){
		width:400px;
		margin:0px;
		margin-left:195px;
		padding:0px;
		margin-right:10px;
	}

	header .row:first-child > div:nth-child(2) > div.row{
		width:100%;
		margin:0px;
		padding:0px;
	}

	header .row:first-child > div:nth-child(2) > div.row > 
	section{
		margin:0px;
		padding:0px;
		padding-top:15px;
	}

	header .row:first-child > div:nth-child(2) > div.row > 
	section:first-child{
		width:190px;
		margin-right:14px;
	}

	header .row:first-child > div:nth-child(2) > div.row > 
	section:last-child{
		width:196px;
	}

	header .row:first-child > div:nth-child(2) > div.row > 
	section:last-child > a{
		padding-left:58px;
	}

	header .row:first-child > div:nth-child(2) > div.row > 
	section:first-child > div#phone_1_label{
		padding-left:10px;
		font-size:1em;
	}

	header .row:first-child > div:nth-child(3){
		width:160px;
		position:relative;
		margin:0px;
		padding:0px;
		padding-top:10px;
		left:0px;
	}

	header .row:first-child > div:nth-child(3) > div{
		margin:0px;
		padding:0px;
		text-align:right;
	}

	header .row:first-child > div:nth-child(3) > div > 
	button#ask_a_question-button{
		margin:0px;
	}

	/*Навигация*/

	.col-navbar, #navbar-line, .navbar-default{
		width:100%;
		height:60px;
		margin:0px;
		padding:0px;
		border-radius:0px;
		background-color:#413332;
	}

	.col-navbar > #navbar-line > .navbar-default > .container{
		width:960px;
		margin:0px auto;
		padding:0px;
	}

	.col-navbar > #navbar-line > .navbar-default > .container >
	.navbar-collapse{
		padding:0px;
		margin:0px;
		width:100%;
		height:60px;
	}

	.col-navbar > #navbar-line > .navbar-default > .container >
	.navbar-collapse > ul{
		width:960px;
		height:60px;
		display:block;
		margin:0px;
		padding:0px;
	}

	.navbar-center > li{
		float:left;
		height:60px;
		display:block;
		box-sizing: border-box;
		margin:0px;
		padding:0px;
		line-height:55px;
		padding-top:1px;
	}

	.navbar-default .navbar-nav > li > a{
		padding:0px;
		margin:0px;
		display:inline;
		padding:20px 10px;
	}

	#wrap-tablet{
		position:relative;
		width:100%;
		height:60px;
		position:absolute;
		display:none;
	}

	#wrap-tablet > #panel-tablet{
		width:701px;
		height:100%;
		margin:0px auto;
		position:relative;
	}

	div#other-panel{
		float:right;
		position:relative;
		width:100px;
		height:40px;
		z-index:1000;
		line-height:70px;
	}

	div#other-panel > a{
		color:#d3ccad;
		padding:0px 10px;
	}

	div#other-panel > a:hover{
		text-decoration:none;
	}

	div#other-panel > a > span{
		font-size:20px;
	}

	div#other-panel > a > span > span{
		text-align:center;
	}

	#wrap-tablet > #panel-tablet > div#button-toggle:before{
		position:relative;
		z-index:100;
		color:#d2ccac;
		font-size:20px;
		line-height:60px;
		margin-left: 10px;
		cursor:pointer;
	}

	#wrap-tablet > #panel-tablet > div#button-toggle:hover{
		color:#fff;
	}

	.navbar-collapse, .navbar-center{
		display:block;
	}
}



@media (min-width:768px) and (max-width:980px){
	header{
		width:701px;
	}

	header .row:first-child > div:first-child{
		width:200px;
	}

	header .row:first-child > div:nth-child(2){
		width:195px;
		margin-left:125px;
		margin-right:0px;
	}

	header .row:first-child > div:nth-child(2) > div.row >
	section{
		padding-top:0px;
		line-height:18px;
	}

	header .row:first-child > div:nth-child(2) > div.row >
	section:first-child{
		width:195px;
		margin-right:0px;
	}

	header .row:first-child > div:nth-child(2) > div.row >
	section:first-child{
		width:195px;
	}

	header .row:first-child > div:nth-child(2) > div.row >
	section > div#phone_1,
	header .row:first-child > div:nth-child(2) > div.row >
	section > div#phone_2{
		font-size:18px;
	}

	header .row:first-child > div:nth-child(3){
		width:181px;
	}

	/*Навигация*/

	.col-navbar > #navbar-line > .navbar-default > .container{
		width:701px;
	}

	.col-navbar > #navbar-line > .navbar-default > .container >
	.navbar-collapse > ul{
		width:701px;
		position:relative;
		min-height:0px;
		padding-top:58px;
		display:none;
	}

	.navbar-center > li{
		float:none;
		line-height:60px;
		background-color:#413332;
		position:relative;
		z-index:1000;
		min-height:0px;
	}

	.navbar-center > li:nth-child(9),
	.navbar-center > li:nth-child(8){
		display:none;
	}

	.navbar-default .navbar-nav > li > a{
		display:block;
		height:60px;
		padding-right:0px;
		text-align:left;
		padding-left:20px;
	}

	div#wrap-tablet{
		display:block;
	}

	div#wrap-tablet.fixed{
		position:fixed;
		top:0px;
		width:100%;
		z-index:99999;
		background-color:#413332;
	}

	/*Межкомнатные двери*/
	.wrap-quick-selection{
		background-position:center center;
	}

	div.panel-quick-selection{
		width:701px;
		margin:0px auto;
	}

	div.panel-quick-selection > div.row{
		margin:0px;
	}

	div.panel-quick-selection > div.row:nth-child(2) > div{
		margin:0px;
		padding:0px;
	}

	div.panel-quick-selection > div.row:nth-child(2) > div >
	h2{
		width:660px;
		padding-bottom:5px;
		font-size:58px;
	}

	div.panel-quick-selection > div.row:nth-child(3) > div{
		width:500px;
		display:block;
		margin-left:calc((100% - 500px) / 2);
		padding:0px;
	}

	h2.tablet-section-title_1,
	h2.tablet-section-title_2{
		display:block;
	}

	/*Каталог*/

	.wrap-catalog{
		height:750px;
	}

	.wrap-catalog > .panel-Catalog{
		width:701px;
		height:350px;
		margin:0px auto;
	}

	.tiles > div:first-child{
		width:350px;
		height:350px;
		margin:0px;
		padding:0px;
		position:relative;
	}

	.tiles > div:nth-child(2){
		width:161px;
		height:350px;
		margin:0px;
		padding:0px;
		position:relative;
		left:10px;
	}

	.tiles > div:nth-child(3){
		width:170px;
		height:350px;
		margin:0px;
		padding:0px;
		position:relative;
		left:20px;
		top:0px;
	}

	.tiles > div:nth-child(2) > div:first-child,
	.tiles > div:nth-child(2) > div:last-child{
		width:161px;
		height:170px;
		position:relative;
		margin:0px;
		padding:0px;
	}

	.tiles > div:nth-child(2) > div:last-child{
		top:10px;
	}

	.tiles > div:nth-child(2) > div:first-child > div,
	.tiles > div:nth-child(2) > div:last-child > div{
		margin:0px;
		padding:0px;
		width:100%;
		height:170px;
	}

	.interiorDoors{
		width:350px;
		height:350px;
		margin:0px;
		padding:0px;
		background-size:cover;
	}

	.interiorDoors > .doors-gradient{
		width:338px;
		position:relative;
		top:145px;
	}

	.grips, .septa{
		width:161px;
		height:170px;
		margin:0px;
		padding:0px;
		background-size:cover;
	}

	.grips > .doors-gradient,
	.septa > .doors-gradient{
		width:149px;
		height:120px;
		position:relative;
		top:20px;
	}

	.interiorDoors > .doors-gradient > h3{
		position:relative;
		top:50px;
	}

	.septa > .doors-gradient > h3{
		font-size:15px;
	}

	.entryDoors{
		width:170px;
		height:350px;
		background-size:cover;
		position:relative;
		top:-20px;
	}

	.entryDoors > .doors-gradient{
		width:158px;
		height:173px;
		position:relative;
		top:-140px;
	}

	.ribbon-panel{
		width:720px;
		height:175px;
	}

	.ribbon-panel > .running-ribbon{
		height:175px;
	}

	.ribbon-panel > .running-ribbon > div{
		position:relative;
		margin:0px;
		padding:0px;
	}

	.row{
		margin:0px;
		padding:0px;
	}

	.ribbon-panel > .running-ribbon > div:first-child{
		width:50px;
		height:50px;
		margin:0px;
		padding:0px;
		margin-right:15px;
		position:relative;
		top:calc((175px - 50px) / 2);
	}

	.ribbon-panel > .running-ribbon > div:nth-child(2){
		width:585px;
		height:175px;
		background-color:#fff;
	}

	.ribbon-panel > .running-ribbon > div:nth-child(2) > .view{
		width:585px;
		height:175px;
		margin:0px;
		padding:0px;
		padding:17px 0px;
	}

	.ribbon-panel > .running-ribbon > div:nth-child(2) > .view >
	ul > li{
		height:140px;
		padding:0px;
		margin:0px;
		margin-right:10px;
		padding-top:20px;
	}

	.ribbon-panel > .running-ribbon > div:last-child{
		width:50px;
		height:50px;
		margin:0px;
		padding:0px;
		margin-left:20px;
		position:relative;
		top:calc((175px - 50px) / 2);
	}

	.ribbon-panel > .running-ribbon > div:last-child > #next,
	.ribbon-panel > .running-ribbon > div:first-child > #prev{
		margin:0px;
		padding:0px;
	}

	/*Акция*/

	.action-panel{
		width:720px;
	}

	.action-panel > div.row > div{
		/*float:left;*/
	}

	.action-panel > div.row > div:first-child{
		width:288px;
		margin:0px;
		padding:0px;
	}

	.action-panel > div.row > div:first-child > h1{
		font-size:40px;
	}

	.action-panel > div.row > div:first-child > .action-text{
		font-size:23px;
		margin-top:40px;
	}

	.action-panel > div.row > div:last-child{
		width:362px;
		margin-left:52px;
	}

	/*Новинки*/

	.novelty{
		width:720px;
		margin:0px auto;
	}

	.novelty > div.row:nth-child(2){
		width:720px;
		height:500px;
	}

	.novelty > div.row:nth-child(2) > div,
	.novelty > div.row:nth-child(2) > div > .doors-panel{
		margin:0px;
		padding:0px;
	}

	.novelty > div.row:last-child{
		margin-top:50px;
	}

	.novelty > div.row:nth-child(2) > div > .doors-panel > 
	div.view{
		width:720px;
		height:490px;
		overflow:hidden;
	}

	.wrap-novelty .tile{
		margin:0px;
		padding:0px;
		margin-right:10px;
	}

	.wrap-novelty .tile:nth-child(3){
		margin-right:0px;
	}

	/*Ключевые преимущества*/

	.wrap-key-benefits{
		height:1102px;
	}

	.panel-key-benefits{
		width:720px;
		margin:0px auto;
	}

	.panel-key-benefits > div.row:first-child{
		height:210px;
	}

	.panel-key-benefits > div.row:nth-child(2) > 
	div:nth-child(odd),
	.panel-key-benefits > div.row:nth-child(3) > 
	div:nth-child(odd),
	.panel-key-benefits > div.row:nth-child(4) > 
	div:nth-child(odd){
		padding:0px;
		width:100px;
		float:left;
	}

	.panel-key-benefits > div.row:nth-child(2) > 
	div:nth-child(odd):before,
	.panel-key-benefits > div.row:nth-child(3) > 
	div:nth-child(odd):before,
	.panel-key-benefits > div.row:nth-child(4) > 
	div:nth-child(odd):before{
		clear:both;
	}

	.panel-key-benefits > div.row:nth-child(2) > 
	div:nth-child(even),
	.panel-key-benefits > div.row:nth-child(3) > 
	div:nth-child(even),
	.panel-key-benefits > div.row:nth-child(4) > 
	div:nth-child(even){
		margin:0px;
		padding:0px;
		width:590px;
		height:102px;
		position:relative;
		top:-10px;
		margin-left:110px;
		margin-bottom: 39px
	}

	/*Двери*/

	.wrap-doors{
		height:931px;
	}

	.wrap-doors > div.row{
		margin:0px;
		padding:0px;
	}

	.wrap-doors > div.row:first-child{
		height:auto;
	}

	.wrap-doors > div.row:nth-child(3){
		max-height:500px;
	}

	.wrap-doors > div.row:nth-child(3) > div:nth-child(2),
	.wrap-doors > div.row:nth-child(3) > div:nth-child(2) > div,
	.wrap-doors > div.row:nth-child(3) > div:nth-child(2) > div >
	div:first-child, .doors-panel, #doors-inn, #doors-out > .wrap-tiles{
		margin:0px;
		padding:0px;
		width:720px;
		max-height:500px;
	}

	#doors-inn > .wrap-tiles{
		position:relative;
		width:720px;
		top:-20px;
	}

	#doors-inn > .wrap-tiles > ul,
	#doors-out > .wrap-tiles > ul{
		max-height:500px;
		width:10000px;
	}

	#doors-inn > .wrap-tiles > ul > .tile{
		margin:0px;
		padding:0px;
		margin-right:10px;
	}

	#doors-out > .wrap-tiles > ul > .tile{
		padding:0px;
		margin:0px;
		margin-right:10px;
	}

	.wrap-doors > div.row:first-child > div > h2{
		/*padding:0px;*/
		margin:0px;
		margin-top:106px;
		margin-bottom:20px;
	}

	.wrap-doors > .row:nth-child(3){
		width:720px;
		margin:0px auto;
	}

	/*Факты*/

	.wrap-facts-at-Glance{
		height:870px;
	}

	.facts{
		width:460px;
		position:relative;
		/*top:-613px;*/
		margin-top:-870px;
	}

	.facts > div.row > div{
		width:460px;
		margin:0px;
		padding:0px;
		margin-bottom:94px;
	}

	.facts > div.row > div > h1,
	.facts > div.row > div > p{
		margin:0px;
		padding:0px;
		width:100%;
		text-align:center;
	}

	.facts > div.row > div > p{
		margin-top:30px;
	}

	/*Перегородки*/

	.wrap-septa > div.row:nth-child(2){
		width:721px;
		margin:0px auto;
	}

	.wrap-septa > div.row:nth-child(2) > div:first-child,
	.wrap-doors > div.row:nth-child(3) > div:first-child{
		width:50px;
		height:50px;
		margin:0px;
		padding:0px;
		position:relative;
		top:583px;
	}

	.wrap-septa > div.row:nth-child(2) > div:first-child{
		top:566px;
	}

	.wrap-septa > div.row:nth-child(2) > div:last-child,
	.wrap-doors > div.row:nth-child(3) > div:last-child{
		width:50px;
		height:50px;
		position:relative;
		float:right;
		margin:0px;
		padding:0px;
		top:-67px;
	}

	.wrap-septa > div.row:nth-child(2) > div:last-child{
		top:17px;
	}

	.wrap-septa > div.row:nth-child(2) > div:last-child > #next,
	.wrap-doors > div.row:nth-child(3) > div:last-child > #next{
		width:50px;
		height:50px;
		position:relative;
		margin:0px;
		padding:0px;
		top:0px;
		left:0px;
		z-index:1000;
	}

	.wrap-septa > div.row:nth-child(2) > div:first-child > 
	#prev,
	.wrap-doors > div.row:nth-child(3) > div:first-child > 
	#prev{
		width:50px;
		height:50px;
		position:relative;
		margin:0px;
		padding:0px;
		left:0px;
		top:0px;
		z-index:100;
	}

	.wrap-septa > div.row:nth-child(2) > div:nth-child(2){
		margin:0px;
		padding:0px;
	}

	.wrap-septa > div.row:nth-child(2) > div:nth-child(2) > 
	div > div{
		width:721px;
	}

	.wrap-septa > div.row:nth-child(2) > div:nth-child(2) > 
	div > div > ul > .tile{
		background-color:#fff;
		margin:0px;
		margin-right:10px;
	}

	.wrap-septa > div.row:nth-child(3),
	.wrap-doors > div.row:nth-child(4){
		position:relative;
		top:-110px;
	}

	.wrap-septa > div.row:nth-child(3){
		top:-26px;
	}

	.wrap-doors > div.row:nth-child(3) > div:first-child{
		top:569px;
	}

	.wrap-doors > div.row:nth-child(3) > div:last-child{
		top:19px;
	}

	.wrap-doors > div.row:nth-child(4){
		top:77px;
	}

	/*Производители*/

	.wrap-manufacturers{
		height:875px;
	}

	.wrap-manufacturers > .manufacturers{
		width:701px;
		margin:0px auto;
	}

	.wrap-manufacturers > .manufacturers > ul > li:nth-child(3n + 1){
		margin-left:0px;
	}

	.wrap-manufacturers > .manufacturers > ul > li:nth-child(3n + 2),
	.wrap-manufacturers > .manufacturers > ul > li:nth-child(3n + 3){
		margin-left:97px;
	}

	.wrap-manufacturers > div.row > div > h2{
		margin-top:80px;
	}

	/*О компании*/

	.wrap-about{
		width:100%;
		height:730px;
	}

	.wrap-about > div.row:nth-child(2){
		width:701px;
		margin:0px auto;
	}

	.wrap-about > div.row:nth-child(2) > div{
		margin:0px;
		padding:0px;
		float:left;
	}

	.wrap-about > div.row:nth-child(2) > div:first-child{
		width:260px;
	}

	.wrap-about > div.row:nth-child(2) > div:first-child > p{
		font-size:28px;
	}

	.wrap-about > div.row:nth-child(2) > div:last-child{
		width:361px;
		margin-left:80px;
	}

	.wrap-about > div.row:nth-child(2) > div:last-child > p{
		font-size:18px;
	}

	/*Контакты*/

	.wrap-contacts .contact-form{
		left:77%;
	}

	.ymaps-2-1-45-ground-pane{
		transform:translate3d(-500px, 0, 0);
	}

	/*Footer*/

	#navbar-line-footer{
		display:none;
	}

	.footer-general{
		height:75px;
		box-shadow:0px 5px 5px rgba(0, 0, 0, .9);
		margin-bottom:5px;
	}

	.footer-copy{
		height:75px;
		text-align:left;
		line-height:75px;
		padding-left:34px;
	}

	/*Страницы*/

	/*Каталог*/

	.max-width.row{
		width:720px;
		margin:0px auto;
		height:auto;
	}

	.max-width > div{
		margin:0px;
		padding:0px;
		width:700px;
		margin:0px auto;
		text-align:left;
	}

	ul.breadcrumb{
		margin:0px;
		padding:0px;
		padding-top:40px;
	}

	ul.breadcrumb > li:first-child{
		margin-left:0px;
	}

	.door-catalog > .panel-quick-selection{
		width:720px;
	}

	.door-catalog > .panel-quick-selection > div.row:first-child >
	div{
		width:700px;
		margin:0px auto;
		padding:0px;
	}

	.door-catalog > .panel-quick-selection > div.row:first-child >
	div > h2{
		margin:0px;
		margin:20px 0px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2){
		width:700px;
		margin:0px auto;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container{
		width:700px;
		height:178px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > div > h5{
		margin-top:0px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .material,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .manufacturer,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .block-1-price,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .pick-up{
		display:block;
		float:left;
		margin:0px;
		padding:0px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .pick-up,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .pick-up > #w12{
		width:130px;
		height:40px;
		margin:0px;
		padding:0px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .pick-up{
		position:relative;
		margin-top:22px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .block-1-price,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .block-1-price > .btn-group{
		width:180px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .block-1-price > .btn-group > #w9{
		width:140px;
		height:40px;
		padding:0px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .material,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .material > .btn-group,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .style,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .style > .btn-group,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .manufacturer,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .manufacturer > .btn-group{
		width:330px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .material > .btn-group > #w0,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .style > .btn-group > #w3,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .manufacturer > .btn-group > #w6{
		padding:0px;
		width:290px;
		height:40px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .material > .btn-group > #w1,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .style > .btn-group > #w4,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .manufacturer > .btn-group > #w7,
	.door-catalog > .panel-quick-selection > div.row:nth-child(2) > div >
	.flex-container > .block-1-price > .btn-group > #w10{
		width:40px;
		height:40px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(3){
		width:700px;
		margin:0px auto;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(3) >
	div{
		width:700px;
		margin:0px;
		padding:0px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(4){
		width:720px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(4) > div{
		width:720px;
		margin:0px;
		padding:0px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(4) > 
	div > div{
		width:720px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(4) > 
	div > div > div.tile{
		margin:0px;
		margin-top:20px;
		margin-right:10px;
		background-color:#fff;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(4) > 
	div > div > div.tile:nth-child(3n + 3){
		margin-right:0px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(6){
		width:720px;
		margin-bottom:60px;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(6) > 
	div{
		margin:0px;
		padding:0px;
		width:345px;
		height:350px;
		float:left;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(6) > 
	div > div{
		margin:0px;
		padding:0px;
		height:350px;
		border:6px solid #935347;
		box-sizing: border-box;
	}

	.door-catalog > .panel-quick-selection > div.row:nth-child(6) > 
	div:first-child{
		margin-right:10px;
	}

	/*Межкомнатные двери*/

	div.switch{
		width:700px;
		margin:0px auto;
		padding:0px;
	}

	div.switch .doors-panel{
		width:700px;
		max-height:1300px;
	}

	div.switch .doors-panel > .row:first-child > div{
		margin:0px;
		padding:0px;
	}

	div.switch .doors-panel > .row:nth-child(2) > div{
		height:352px;
		width:170px;
		margin:0px;
		padding:0px;
	}

	div.switch .doors-panel > .row:nth-child(2) > div > a > img{
		width:100%;
		height:352px;
		margin:0px;
		padding:0px;
	}

	div.switch .doors-panel > .row:nth-child(2) > div > a >
	.doors-gradient{
		position:relative;
		margin-top:-423px;
		left:5px;
		width:160px;
	}

	div.switch .doors-panel > .row:nth-child(2) > div > a > h2{
		width:100%;
		text-align:center;
		left:70px;
		text-transform:uppercase;
		top:295px;
	}

	div.switch .doors-panel > .row:nth-child(2) > div:nth-child(4) 
	> a > h2{
		top:270px;
	}

	div.switch .doors-panel > .row:nth-child(3){
		width:700px;
		margin:0px auto;
		padding:0px;
	}

	div.switch .doors-panel > .row:nth-child(3) > div{
		margin:0px;
		padding:0px;
		width:700px;	
	}

	div.switch .doors-panel > .row:nth-child(3) > div > h2{
		margin:0px;
		margin-top:50px;
		margin-bottom:20px;
	}

	div.switch .doors-panel > .row:nth-child(2) > div{
		margin-right:6px;
	}

	div.switch .doors-panel > .row:nth-child(2) > div:nth-child(4n + 4){
		margin-right:0px;
	}

	div.switch .doors-panel > .row:nth-child(4){
		width:700px;
		height:350px;
		margin:0px;
		padding:0px;
	}

	div.switch .doors-panel > .row:nth-child(4) > div{
		width:345px;
		height:350px;
		margin:0px;
		padding:0px;
		float:left;
	}

	div.switch .doors-panel > .row:nth-child(4) > div > a{
		width:345px;
		height:350px;
		padding:0px;
		margin:0px;
	}

	div.switch .doors-panel > .row:nth-child(4) > div > a > img{
		width:345px;
		height:350px;
		padding:0px;
		margin:0px;
	}

	div.switch .doors-panel > .row:nth-child(4) > div > a > 
	.doors-gradient{
		width:335px;
		position:relative;
		left:5px;
		top:-180px;
	}

	div.switch .doors-panel > .row:nth-child(4) > div:first-child{
		margin-right:10px;
	}

	div.switch .doors-panel > .row:nth-child(4) > div > a > h2{
		width:100%;
		top:290px;
		text-transform:uppercase;
		text-align:center;
		left:0px;
	}

	div.switch .doors-panel > .row:nth-child(5){
		width:700px;
		padding:0px;
		margin:0px;
	}

	div.switch .doors-panel > .row:nth-child(5) > div{
		width:700px;
		margin:0px;
		padding:0px;
	}

	div.switch .doors-panel > .row:nth-child(5) > div > h2{
		margin:0px;
		margin:50px 0px 25px 0px;
	}

	div.switch .doors-panel > .row:nth-child(6){
		width:350px;
		height:170px;
	}

	div.switch .doors-panel > .row:nth-child(6) > div,
	div.switch .doors-panel > .row:nth-child(6) > div > a,
	div.switch .doors-panel > .row:nth-child(6) > div > a > img{
		width:350px;
		height:170px;
		padding:0px;
		margin:0px;
	}

	div.switch .doors-panel > .row:nth-child(6) > div > a >
	.doors-gradient{
		width:340px;
		position:relative;
		left:5px;
		top:-90px;
	}

	div.switch .doors-panel > .row:nth-child(6) > div > a > h2{
		width:100%;
		position:relative;
		text-align:center;
		text-transform:uppercase;
		top:-140px;
		font-size:19px;
		left:0px;
	}

	.switch > div > div:last-child{
		width:700px;
		height:400px;
	}

	.switch > div > div:last-child > div{
		margin:0px;
		padding:0px;
		width:700px;
	}

	.switch > div > div:last-child > div > h4{
		margin:0px;
		margin:60px 0px 20px 0px;
	}

	.switch > div > div:last-child > div > p{
		margin-bottom:20px;
	}

	/*Производители*/

	.wrap-manuf > .mobil-width:first-child{
		width:700px;
		height:45px;
		margin-top:45px;
	}

	.wrap-manuf > .mobil-width:last-child{
		margin-top:55px;
	}

	.wrap-manuf > .mobil-width:first-child > div,
	.wrap-manuf > .mobil-width:last-child > div{
		margin:0px;
		padding:0px;
	}

	.wrap-manuf > .mobil-width:first-child > div > h2{
		margin:0px;
	}

	.wrap-manuf > .mobil-width:last-child > div:first-child{
		width:180px;
		margin-right:20px;
	}

	.wrap-manuf > .mobil-width:last-child > div{
		float:left;
	}

	.wrap-manuf > .mobil-width:last-child > div:last-child,
	.wrap-manuf > .mobil-width:last-child > div:last-child > ul{
		width:500px;
	}

	.wrap-manuf > .mobil-width:last-child > div:last-child > ul >
	li{
		margin-left:0px;
		margin-right:0px;
		background-color:#fff;
	}

	.wrap-manuf > .mobil-width:last-child > div:last-child > ul >
	li:nth-child(2n + 1){
		margin-left:84px;
		margin-right:20px;
	}

	/*Производители внутр*/

	.wrap.order-registration{
		margin-top:20px;
		width:700px;
	}

	.wrap.order-registration > div:first-child{
		background-color:transparent;
		margin:0px;
		padding:0px;
		width:430px;
		font-size:45px;
	}

	.wrap.order-registration > div:last-child{
		margin-top:30px;
	}

	.wrap.order-registration > div:last-child > img{
		width:470px;
	}

	.wrap.order-registration > div:last-child > p.first-p{
		font-size:22px;
	}

	/*О Компании*/

	.wrap-about.switch{
		/*max-width:700px;*/
		max-width:inherit;
		width:100%;
	}

	.wrap-about.switch > div > .row:first-child{
		margin-top:45px;
	}

	.wrap-about.switch > div:first-child{
		width:700px;
		margin:0px auto;
	}

	.wrap-about.switch > div > .row:last-child{
		margin-top:40px;
	}

	.wrap-about.switch > div > .row:last-child > div:first-child > 
	.parag-sm{
		margin-bottom:60px;
	}

	.wrap-about.switch > div > .row:first-child > div{
		margin:0px;
		padding:0px;
	}

	.wrap-about.switch > div > .row:first-child > div > h1{
		margin:0px;
	}

	.wrap-about.switch > .row:nth-child(2){
		max-width:inherit;
		width:100%;
		margin:0px;
		padding:0px;
	}

	.wrap-about.switch > .row:nth-child(2) > div.col-md-12{
		width:100%;
		margin:0px;
		padding:0px;
		height:650px;
	}

	.wrap-about.switch > .row:nth-child(2) > div.col-md-12 > 
	.action{
		width:100%;
		margin:0px;
		padding:0px;
	}

	.wrap-about.switch > .row:nth-child(2) > div.col-md-12 > 
	.action > .row,
	.wrap-about.switch > .row:nth-child(2) > div.col-md-12 > 
	.action > .row > .action-text{
		width:700px;
		margin:0px auto;
	}

	.wrap-about.switch > .row:nth-child(2) > div.col-md-12 > 
	.action > .row > .action-text > div,
	.wrap-about.switch > .row:nth-child(2) > div.col-md-12 > 
	.action > .row > .action-text > article{
		margin:0px;
		padding:0px;
	}

	.wrap-about.switch > .row:nth-child(2) > div.col-md-12 > 
	.action > .row > .action-text > article{
		width:300px;
		margin-right:35px;
		margin-top:90px;
	}

	.wrap-about.switch > .row:nth-child(2) > div.col-md-12 > 
	.action > .row > .action-text > div{
		width:365px;
	}

	div.ruletka{
		width:700px;
		height:210px;
		background-position:right center;
		margin:0px;
		padding:0px;
		margin-bottom:72px;
	}

	div.ruletka > h2{
		padding-left:30px;
		padding-top:30px;
		margin:0px;
	}

	div.ruletka > p{
		margin:0px;
		margin-top:20px;
		padding-left:30px;
	}

	div.ruletka > a{
		margin-left:30px;
		margin-top:20px;
	}

	.wrap-about.switch{
		height:100%;
	}

	.wrap-about.switch > div.bottom-block{
		width:700px;
		margin:0px auto;
		height:710px;
		margin-top:280px;
	}

	/*Контакты*/
	.wrap-contacts.switch{
		width:100%;
		height:100%;
	}

	.wrap-contacts.switch > .row-contact{
		width:700px;
		margin:0px auto;
	}

	.wrap-contacts.switch > .row-contact > div > div{
		margin:0px;
		padding:0px;
		float:left;
	}

	.wrap-contacts.switch > .row-contact > div > div:first-child{
		width:339px;
	}

	.wrap-contacts.switch > .row-contact > div > div:first-child > 
	h2{
		margin:0px;
		padding:0px;
	}

	.wrap-contacts.switch > .row-contact > div > div:first-child >
	.orange{
		margin-top:25px;
	}

	.wrap-contacts.switch > .row-contact > div > div:first-child >
	.row > div{
		margin:0px;
		padding:0px;
	}

	.wrap-contacts.switch > .row-contact > div{
		margin-top:45px;
	}

	.wrap-contacts.switch > .row-contact > div > div:last-child{
		width:361px;
		height:257px;
		margin-top:75px;
	}

	.contact-img{
		height:100%;
		background-image:url(../img/other/Kontakti.png);
		background-repeat:no-repeat;
		background-size:cover;
	}

	.forma{
		width:365px;
		margin:0px;
		padding:0px;
		position:relative;
		top:-570px;
		left:calc(100% - 398px);
	}
}